.p-bottomfixbutton {
  position: fixed;
  width: 100%;
  left: 0;
  // background: $base;
  background: inherit;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  transition: bottom .4s ease-in-out;
  border-top: 1px solid rgba($grey,.1);

  &.is-visible {
    bottom: 0;
  }

  &__item {
    p {
      @include fs(14);
      @include opacity(.5);
    }
  }

  @include gtMD {
    left: $menuW;
    width: calc( (100% - #{$menuW}) / 3 );
    border-right: 1px solid rgba($grey,.2);
  };

  @include gtLG {
    max-width: $painMaxW;
  };
}


@for $i from 0 through 9 {
  [data-eventcount='#{$i}'] .p-bottomfixbutton:not(.is-visible) {
    bottom: #{-68*$i - 200}px;

    @include gtLG {
      bottom: #{-75*$i - 200}px;
    };
  }
}

// @include ltSM {
//   .l-pane .p-bottomfixbutton {
//     // left: -4%;
//
//     // transition-property: margin bottom;
//   }
//   .l-pane.is-visible .p-bottomfixbutton { left: 0; }
//   .l-pane.is-pushed .p-bottomfixbutton { left: 100%; }
//
//
//
//
//   .l-pane .p-bottomfixbutton {
//   }
//   .l-pane.is-visible .p-bottomfixbutton { left: 0; }
//   .l-pane.is-pushed .p-bottomfixbutton { left: 100%; }
// };
