.p-chat {
  $this: &;
  width: 100%;
  font-size: 12px;
  background: inherit;
  word-wrap: break-word;
  word-break: break-all;

  &__avatar {
    font-size: 12px;
    width: 35px;
    min-width: 35px;
    height: 35px;
    transform: scale(1.2);
    @include ease;
    cursor: pointer;
  }

  &__box {
    font-size: 12px;
    padding: 0 1em;
    position: relative;
    background: inherit;
  }

  &__comment {
    font-size: 12px;
    display: inline-block;
    background: $truewhite;
    border-radius: 16px;
    padding: .7em 1em;
    line-height: 1.5em;
    position: relative;
    margin-right: -1px;

    &.emoji {
      font-size: 50px;
      background: transparent !important;
      padding: 0;
      line-height: 1.2;

      &::before {
        content: none;
        display: none;
      }

      & > p {
        font-size: inherit;
      }
    }

    &.brand-logo {
      @extend .emoji ;

      @include glyph-after('\F000',.9){
        @include gradtypes;
        font-size: 1.9em;
        margin-left: .2em;
        margin-right: .2em;
        padding: 2px;
      };
    }

    &::before {
      content: "";
      display: block;
      width: .6em;
      height: .6em;
      position: absolute;
      background: inherit;
      border-radius: 1px;
      top: 1.5em - .3em;
      left: -.28em;
      transform:
      rotate(-45deg)
      skew(
        calc((90deg - 70deg) / 2),
        calc((90deg - 70deg) / 2)
      );
    }
  }

  &__date {
    font-size: 10px;
    @include opacity(.3);
    font-weight: bold;
    position: absolute;
    bottom: 0;
    transform: scale(0.8);
    width: 40px;
    text-align: center;
    letter-spacing: 0;
  }

  &__firstComment {
    display: block;
    font-size: 12px;
    font-weight: 500;
    background: rgba($grey,.1);
    text-align: center;
    width: 100%;
    margin: 1em auto;
    border-radius: 1em;
    color: $grey;
    padding: .2em 0;

    &.is-loading {
      background: transparent;
    }
  }

  &__date-label {
    width: 100%;
    min-width: 100%;

    span {
      display: block;
      font-size: 10px;
      font-weight: 500;
      background: rgba($grey,.1);
      text-align: center;
      width: 10em;
      margin: 1em auto;
      border-radius: 1em;
      color: $grey;
      padding: 0 0;
      transform: scale(.9);
    }

    &--time {
      @extend .p-chat__date-label ;

      span {
        background: none;
        margin: .5em auto;
      }
    }

    #{$this}.is-loading & {
      color: transparent !important;
      background: transparent !important;
      position: relative;

      span {
        color: transparent !important;
        background: transparent !important;
      }

      &::before {
        content: 'loading...';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: rgba($grey,.5);
      }
    }
  }

  &__item {
    padding: 10px 0;
    width: 100%;
    @include flex(fs,fs,false);

    &.is-received-message {
      padding-right: 1.1em;

      #{$this}__date {
        right: -25px;
      }
    }

    &.is-send-message {
      flex-direction: row-reverse;
      padding-left: 1.1em;

      #{$this}__date {
        left: -25px;
      }

      #{$this}__comment {
        background: $mainLt;
        color: $truewhite;
        font-weight: 500;

        &::before {
          left: auto;
          right: -.3em;
          background: inherit;
        }
      }

      .is-own-hide & {

        #{$this}__avatar {
          display: none;
        }

        // #{$this}__comment {
        //   margin-right: -10px;
        // }

        #{$this}__box {
          padding-right: 0;
        }
      }
    }
  }

  &__item-wrap {
    & + & .is-firstdate {
      display: none;
    }

    &.is-send + &.is-send:not(.is-blank) {
      margin-top: -15px;

      #{$this}__avatar {
        // visibility: hidden;
        transform: scale(0);
      }
    }

    &.is-received + &.is-received:not(.is-blank) {
      margin-top: -15px;

      #{$this}__avatar {
        // visibility: hidden;
        transform: scale(0);
      }
    }
  }

  // ------------------------------
  // 連続メッセージの先頭
  // ------------------------------

  &__item-wrap.is-send {

    &.is-block-first {
      .p-chat__item .p-chat__comment {
        border-bottom-right-radius: 2px;
      }
    }

    &.is-block-moddle {
      .p-chat__item .p-chat__comment {
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
      }
    }

    &.is-block-last {
      .p-chat__item .p-chat__comment {
        border-top-right-radius: 2px;
      }
    }

  }

  &__item-wrap.is-received {

    &.is-block-first {
      .p-chat__item .p-chat__comment {
        border-bottom-left-radius: 2px;
      }
    }

    &.is-block-moddle {
      .p-chat__item .p-chat__comment {
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
      }
    }

    &.is-block-last {
      .p-chat__item .p-chat__comment {
        border-top-left-radius: 2px;
      }
    }

  }
}

// ------------------------------
// アニメーション
// ------------------------------

.p-chat__item-wrap {
  &.is-latest .p-chat__item {
    animation: commentAnime .2s;
  }
}

@keyframes commentAnime {
  0% {
    padding: 0;
    max-height: 0;
  }
  100% {
    padding: 10px 0;
    max-height: 800px;
  }
}
