$barHeight: 8px;
$stripeWidth: 40px;

.p-progress-bar {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -$barHeight*.5;
    left: 0;
    width: 100%;
    height: $barHeight;
    border-radius: $barHeight*0.5;
    background: $mainLt;
    background-image: linear-gradient(to right, transparent 50%, rgba($trueblack, 0.1) 50%);
    background-size: $stripeWidth 100%;
    animation: progressBg .9s linear infinite;
    z-index: 2;
  }

  &--white::before {
    background-image: linear-gradient(to right, transparent 50%, rgba($truewhite, 0.3) 50%);
  }

  &--sm::before {
    top: -$barHeight*.5*.75;
    height: $barHeight*.75;
    background-size: $stripeWidth*.5 100%;
    background-image: linear-gradient(to right, transparent 50%, rgba($truewhite, 0.3) 50%);
  }

  &--xs::before {
    position: static;
    height: 4px;
    border-radius: 0;
    background-size: $stripeWidth*.5 100%;
    background-image: linear-gradient(to right, transparent 50%, rgba($truewhite, 0.3) 50%);
  }

  &--transparent {
    &::before {
      background-color: transparent;
      // background-size: $stripeWidth*.5 100%;
      background-image: linear-gradient(to right, transparent 50%, rgba($truewhite, 0.3) 50%);
    }
    &::after {
      $borderW: 8px;
      content: "";
      display: block;
      position: absolute;
      top: -$barHeight*.5-$borderW;
      border: $borderW solid rgba($truewhite,.8);
      // box-shadow: 0 0 8px 4px rgba($trueblack,.05);
      box-sizing: border-box;
      left: -$borderW;
      width: calc(100% + #{2*$borderW} );
      height: $barHeight+2*$borderW;
      border-radius: $barHeight*0.5+$borderW;
      background-color: rgba($trueblack,.1);
      z-index: 0;
    }
  }

}

@keyframes progressBg {
  100% {
    background-position: $stripeWidth 0px;
  }
}

.p-progress-bar-mirror {
  position: absolute;
  top: -$barHeight*.5;
  left: 0;
  // width: 100%;
  height: $barHeight;
  background: $mainLt;
  border-radius: $barHeight*0.5;
  z-index: 1;
}
