.c-collapse {
  border-bottom: 1px solid rgba($grey,.2);
}

.c-collapse-trigger {
  padding: .8em 0;
  background: transparent;
  border-top: 1px solid rgba($grey,.2);
  @include flex(ce,sb,false);
  cursor: pointer;

  & > span > small {
    display: block;
    font-size: 80%;
    @include opacity(.5);
    font-weight: 800;
  }

  & > .glyph {
    margin-left: 1em;
    @include linear(.2s);
  }

  &.is-active {

    & > .glyph {
      transform: rotate(180deg);
    }
  }
}
.c-collapse-target {
  padding: 1em 0;
  border-top: 1px dashed rgba($grey,.2);
  @include opacity(.8);
}
