.c-radio {
  $this: &;
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;

  input[type=radio] {
    @include opacity(0);
    margin-right: 6px;
  }

  &__mirror {
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    box-sizing: border-box;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    border: 2px solid rgba($grey,.2);
    @include ease(.3s);

    &::before {
      content: '';
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 2px;
      background: $accent;
      box-sizing: border-box;
      margin-top: -4px;
      width: 8px;
      height: 8px;
      @include ease(.3s);
      transform: scale(0);
    }
  }

  input[type=radio]:checked {
    & + #{$this}__mirror {
      border-color: $accent;

      &::before {
        transform: scale(1);
      }
    }
  }

  input[type=radio]:disabled:checked {
    & + #{$this}__mirror {
      border-color: rgba($grey,.2);

      &::before {
        background: rgba($grey,.2);
      }
    }
  }

}
