.c-select-default {
  border: 1px solid rgba($grey,.2);
  border-radius: 2em;
  display: inline-block;
  position: relative;
  @include ease;
  appearance: none;
  font-family: inherit;
  padding: 0 1.5em 0 .5em;
  height: 2em;
  line-height: 2em;
  color: inherit;
  cursor: pointer;
  @include fs(14);
  background-image: url('../img/form-parts/_part-select.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 18px 16px;
  background-position: right 2px center;

  @include gtXL {
    @include fs(15);
  };

  @include ltXS {
    font-size: 16px;
  };
}
