%p お使いのアカウントのパスワードをリセットする要求を承りました。以下のリンクからパスワードの変更を行うことができます。
%p= link_to 'パスワードの再設定を行う', passwords_reset_url(reset_password_token: @token)
%p 上記要求に身に覚えがない場合にはこのメールは無視して問題ございません。
%p 上記リンクからパスワードを変更しない限り、現在登録されているパスワードが変更されることはございません。
