お使いのアカウントのパスワードをリセットする要求を承りました。以下のリンクからパスワードの変更を行うことができます。
= passwords_reset_url(reset_password_token: @token)
上記要求に身に覚えがない場合にはこのメールは無視して問題ございません。
上記リンクからパスワードを変更しない限り、現在登録されているパスワードが変更されることはございません。

© Real Connect Inc. 