rails/vendor/*

vue/nodemodules
vue/dest

.DS_Store
system_admin/node_modules
system_admin/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# wordpress
wordpress/themes/twentynineteen
wordpress/themes/twentyseventeen
wordpress/themes/twentytwenty
wordpress/plugins/siteguard
wordpress/plugins/hello.php
*.log
wordpress_db/
