version: '3'
services:
  # りあこね管理画面（Rails）
  admin_db:
    image: postgres:10.11
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
  admin_web:
    build: ./rails
    command: /bin/sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 8080 -b '0.0.0.0'"
    volumes:
      - ./rails:/app
    ports:
      - 8080:8080
    depends_on:
      - admin_db
    environment:
      DATABASE_HOST: admin_db
      DATABASE_PORT: 5432
      DATABASE_USER: postgres
      DATABASE_PASSWORD: pass
volumes:
  postgres: