@mixin nowEventItem {
  text-align: center;
  padding: 0 1em;
  line-height: 1.2;
  height: 80px;
  @include flex(ce,ce);

  small {
    display: block;
    @include opacity(.5);
  }

  em {
    @include fs(40);
    display: block;
    text-transform: uppercase;
  }
}

.p-now-event-user {
  @include flex(ce,fs,false);
  border: 1px solid rgba($grey,.1);
  border-radius: 4px;
  margin-right: 10px;

  @include ltXS {
    width: calc(50% - 5px);
  };

  @include ltXXS {
    width: 100%;
    margin-right: 0;
  };

  &__total {
    @include nowEventItem;
    border-right: 1px solid rgba($grey,.1);
    width: 120px;
    padding: 0;

    // small {}

    // em {}
  }

  &__detail {
    min-width: 140px;

    @include ltXS {
      width: 100%;
    };
  }

  &__detail-item {
    @include nowEventItem;
    height: 40px;

    em {
      @include fs(20);
      margin-left: 1em;
    }

    &:first-child {
      border-bottom: 1px solid rgba($grey,.1);
    }

    // &.male {}
    // &.female {}
  }
}

.p-now-event-time {
  border: 1px solid rgba($grey,.1);
  border-radius: 4px;

  @include gtSM {
    width: 100%;
  };

  @include ltXS {
    width: calc(50% - 5px);
  };

  @include ltXXS {
    width: 100%;
  };


  &__item {
    @include nowEventItem;
    height: 40px;

    &:first-child {
      border-bottom: 1px solid rgba($grey,.1);
    }

    small {
      margin-right: 1em;
    }
  }
}

.p-now-event {
  @include flex(ce,fs);

  &__title {
    background: rgba($grey,.1);
    width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__date-thumb {
    background: $mainLt;
    @include opacity(1);
    color: $truewhite;
    margin-right: 10px;
  }

  &__detail {
    @include flex(ce,fs,false);

    @include ltXS {
      width: 100%;
    };
  }

  &__detail-wrap {
    @include flex(ce,fs);
    width: 100%;

    & > * {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    @include gtSM {
      @include flex(ce,fs,false);
    };
  }

  &__code {
    @include nowEventItem;
    border: 1px solid rgba($grey,.1);
    border-radius: 4px;
    min-width: 160px;
    margin-right: 10px;

    @include ltXS {
      width: calc(100% - 80px - 10px);
      margin-right: 0;
    };

    a {
      color: inherit;
      font-weight: inherit;
    }

    // small {}

    // em {}
  }

  &__user {
    text-align: center;
  }

  &__user-detail {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1em;
    @include opacity(.5);
    padding-bottom: 10px;
  }
}
