.p-pane-target-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: (#{$headerH} + #{$paneHeaderH}) - 15px;
  height: calc( 100% - #{$headerH} - #{$paneHeaderH} + 15px );
  background: inherit;

  @include ltSM {
    top: $paneHeaderH - 15px;
    height: calc( 100% - #{$paneHeaderH} + 15px );
  };
}

.p-pane-target {
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  @include scroll;
  padding-left: 15px;
  padding-right: 15px;
  @include ease(.4s);
  left: -5%;

  &.is-visible-select {
    margin-top: 50px;
    height: calc( 100% - 50px );
  }

  &.is-visible {
    left: 0;

    & + .p-pane-target {
      left: 100%;

      & + .p-pane-target {
        left: 100%;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
