@mixin close {
  .is-close & {
    @content;
  }
}

.p-pc-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: $menuW;
  height: 100%;
  top: $headerH;
  background: rgba($grey,.1);
  z-index: 1001;
  @include ease(.4s);
  overflow: hidden;

  &.is-close {
    width: $paneHeaderH;
  }

  &__header {
    height: $paneHeaderH;
    @include flex(ce,sb);
    border-bottom: 1px solid rgba($grey,.2);
    width: $menuW;
    @include ease(.4s);

    @include close {
      margin-left: calc( -#{$menuW} + #{$paneHeaderH} );
    };
  }

  &__title {
    @include fs(12);
    padding-left: 2em;
  }

  &__button {
    width: $paneHeaderH;
    height: 100%;
    border: none;
    border-left: 1px solid rgba($grey,.2);
    background: transparent;
    color: inherit;

    &:hover {
      background: rgba($grey,.2);
    }
  }

  &__body {
    height: calc( 100% - #{$headerH} - #{$paneHeaderH} );
    @include scroll;
    overflow-x: hidden;
    width: $menuW;
  }

  &__item {
    @include fs(12);
    position: relative;
    cursor: pointer;
    @include ease;
    height: 3em;
    @include flex(ce);
    border-left: 0 solid $accent;
    color: inherit;
    font-weight: inherit;

    > i {
      @include fs(16);
      @include flex(ce,ce);
      width: $paneHeaderH;
      min-width: $paneHeaderH;
      height: 100%;
      @include opacity(.5);
      @include ease;
    }

    &:hover {
      background: rgba($grey,.1);
      color: inherit;
    }

    &.is-active {
      background: rgba($grey,.11);

      i {
        color: $accent;
        @include opacity(1);
      }

      &::after {
        content: "";
        display: block;
        width: 1em;
        height: 1em;
        background: $white;
        position: absolute;
        right: -.5em;
        top: calc( 50% - .5em);
        transform: rotate(45deg);
      }
    }
  }

  &__subtitle {
    padding: 0 1em;
    height: 3em;
    @include flex(ce);
    @include fs(10);
    @include ease(.4s);
    overflow: hidden;

    @include close {
      height: 0;
    };
  }

  &__badge {
    display: inline-block;
    padding: 0 1em;
    border-radius: 1em;
    background: rgba($grey,.1);
  }

  &__list {
    margin-bottom: .5em;
    @include ease(.4s);

    @include close {
      margin-bottom: 0;
    };
  }

  @include ltSM {
    display: none;
  };
}


.p-pc-menu-account {
  @include fs(12);
  overflow: hidden;
  max-height: 10em;
  @include ease(.4s);
  color: inherit;

  @include close {
    max-height: 0;
  };

  &__title {
    position: static;
    background: transparent;
  }

  // &__avatar {}

  // &__username {}

  &__detail {
    padding: 0 1em 1em;
  }

  &__label {
    @include fs(11);

    i {
      transform: scale(1.2);
      margin-right: .5em;
      @include opacity(.5);
    }
  }

  &__input {
    position: relative;

    [type=text] {
      @include fs(12);
      padding: .5em 0;
      width: 100%;
      border: none;
      border-bottom: 2px solid rgba($grey,.2);
      background: transparent;
      font-family: inherit;
      transition: all .4s;

      & + button {
        position: absolute;
        bottom: .5em;
        right: -6em;
        transition: all .4s;
        border: none;
        border-radius: 1em;
        background: $accent;
        color: $truewhite;
        font-family: inherit;
        @include fs(12);
        font-weight: 500;
        display: block;
        padding: .2em .6em;
      }

      &:hover {
        border-color: rgba($grey,.8);
      }

      &:focus {
        width: calc( 100% - 3em );
        border-color: $accent;

        & + button {
          right: 0;
        }
      }
    }
  }

  &__toggle-container {
    @include flex(ce,ce,false);
    @include fs(12);
    background: $accent;
    color: $truewhite;
    border-radius: 4px;
    overflow: hidden;
  }

  &__toggle {
    width: 100%;
    text-align: center;
    background: rgba($truewhite,.5);
    cursor: pointer;
    @include ease;

    @include hover {
      background: none;
    };

    &.is-active {
      background: none;
    }
  }
}

.p-pc-menu-code {
  @include fs(12);
  margin-bottom: 1em;
  @include ease(.4s);

  @include close {
    margin-bottom: 0;
  };

  &__label {
    @include fs(11);
    padding: 0 1em;
    overflow: hidden;
    @include ease(.4s);
    height: 2em;

    @include close {
      height: 0;
    };
  }

  &__code {
    display: block;
    @include fs(30);
    font-weight: 400;
    color: currentColor;
    text-transform: uppercase;
    @include external;
    position: relative;
    height: $paneHeaderH;
    line-height: $paneHeaderH;
    letter-spacing: .1em;
    padding-left: .4em;

    span {
      @include ease(.4s);
    }

    @include close {

      span {
        color: transparent;
      }
    };

    &::after {
      position: absolute;
      top: 0;
      left: calc( 100% - #{$paneHeaderH} );
      display: block;
      width: $paneHeaderH;
      height: $paneHeaderH;
      line-height: $paneHeaderH !important;
      text-align: center;
      background: rgba($grey,.1);
      margin: 0 !important;
      @include ease(.4s);
      letter-spacing: 0;
      @include opacity(1);

      @include close {
        left: 0;
      };
    }

    &:hover {
      color: currentColor;
      background: rgba($grey,.1);

      &::after {
        background: $grey;
        color: $truewhite;
      }
    }
  }
}
