.p-release-title {
  margin-top: 2em !important;
}

.p-release {
  border-bottom: 1px solid rgba($grey,.1);
  padding-bottom: 1em;
  margin-bottom: 1em;

  small {
    font-size: 12px;
    font-weight: 700;
    @include opacity(.5);
  }

  em {
    font-size: 20px;
    font-weight: 400;
  }
}
