.p-scrollable {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;

  &::-webkit-scrollbar {
    display: none;
  }

  &:not(.p-scrollable--talk) {
    @include scroll;
  }

  &--talk {
    @extend .p-scrollable ;
    height: calc( 100% - 51px );
    transition: margin-top .15s ease-in-out;
    overflow-y: scroll;

    &.is-loaded {
      @include scroll;
    }

    &.is-focus {
      @include ios {
        margin-top: -35px;
      };
    }

    &[data-height] { height: calc( 100% - 131px ); }
    &[data-height='0'] { height: calc( 100% - 51px ); }
    &[data-height='1'] { height: calc( 100% - 71px ); }
    &[data-height='2'] { height: calc( 100% - 91px ); }
    &[data-height='3'] { height: calc( 100% - 111px ); }
    &[data-height='4'] { height: calc( 100% - 131px ); }

    .is-msg-focus.ios & { margin-top: -30px; }
  }
  
  &--area {
    @extend .p-scrollable ;
    height: calc( 100% - 130px );
  }
}

.s-scrollable {
  height: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  &:not(.p-scrollable--talk) {
    @include scroll;
  }

  &--talk {
    @extend .p-scrollable ;
    height: calc( 100% - 51px );
    transition: margin-top .15s ease-in-out;
    overflow-y: scroll;

    &.is-loaded {
      @include scroll;
    }

    &.is-focus {
      @include ios {
        margin-top: -35px;
      };
    }

    &[data-height] { height: calc( 100% - 131px ); }
    &[data-height='0'] { height: calc( 100% - 51px ); }
    &[data-height='1'] { height: calc( 100% - 71px ); }
    &[data-height='2'] { height: calc( 100% - 91px ); }
    &[data-height='3'] { height: calc( 100% - 111px ); }
    &[data-height='4'] { height: calc( 100% - 131px ); }

    .is-msg-focus.ios & { margin-top: -30px; }
  }
  
  &--area {
    @extend .s-scrollable ;
    height: calc( 100% - 10px );
  }
}
