.p-sending-loader {
  width: 0%;
  height: 4px;
  position: absolute;
  margin-top: -3px;
  z-index: 20;
  animation: sizeScale2 1s linear;
}

@keyframes sizeScale2 {
  0% {
    width: 0%;
    left: 0;
  }
  30% {
    width: 60%;
    left: 0;
  }
  90% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 100%;
    left: 100%;
  }
}
