.p-talk-list {
  @include flex(ce,ce,false);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba($grey,.1);
  position: relative;

  &__seat-status {
    font-size: 12px;
    margin-right: auto;
    border: 1px solid rgba($grey,.2);
    border-radius: 4px;
    @include flex(ce,ce);
    overflow: hidden;

    span {
      display: block;
      padding: 0 5px;
      color: rgba($grey,.8);

      &:last-child {
        background: rgba($grey,.2);
        color: $grey;
      }
    }
  }

  &--slide {
    overflow: hidden;
    height: 100px;
    @include opacity(1);
    transition: all .5s;

    &:not(.is-current-place) {
      height: 0;
      padding: 0;
      transform: translateX(-110%);
      @include opacity(0);
      border-bottom: none;
    }
    // &.is-current-place {}
  }

  &--notice {
    font-size: 14px;
    @include opacity(0);
    transition: all .5s;

    &.is-visible {
      @include opacity(1);
    }
  }

  &__other-area {
    position: absolute;
    left: 5px;
    bottom: 10px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    background: $accentLt;
    color: $truewhite;
    border-radius: 1em;
    transform: scale(.8);
    letter-spacing: 0;
    font-weight: bold;
  }

  @include gtSM {
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      @include opacity(0);
      @include ease(.5s);
    }

    &::before {
      width: 6px;
      height: calc(100% - 10px);
      left: -15px;
      top: 5px;
      border-radius: 0 6px 6px 0;
      background: $mainLt;
    }

    &::after {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid $mainLt;
      border-bottom: 10px solid transparent;
      border-left: 0;
      top: 50%;
      margin-top: -5px;
      right: -15px;
    }
  };

  &.is_active {
    @include gtSM {
      &::before,
      &::after {
        content: "";
        @include opacity(1);
      }
    };
  }

  &__badge {
    font-size: 12px;
    position: absolute;
    // top: 6px;
    top: 50%;
    margin-top: -30px;
    left: 0;
    padding: .1em .4em;
    z-index: 0;

    &--place {
      margin-top: -40px;
      left: -10px;
    }
  }

  &__avatar {
    font-size: 20px;
    cursor: pointer;
  }

  &__detail {
    width: calc( 100% - 75px );
    margin-left: 15px;
    height: 80px;
    @include flex(ce,sb);
    cursor: pointer;
    position: relative;
    z-index: 0;

    &--place {
      justify-content: flex-end;
    }
  }

  &__title {
    width: 100%;
    font-size: 14px;
    @include flex(ce,sb,false);
  }

  &__name,
  &__shop {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc( 100% - 100px );

    &--full {
      width: 100%;
      @include flex(ce,sb);

      .glyph:last-child {
        position: static;
        font-size: 12px;
        margin-right: 2px;
        line-height: 0;
        display: block;
        color: inherit;
        @include opacity(.5);
      }
    }

    i {
      position: relative;
      top: -2px;
      margin-right: 6px;
      color: $mainLt;
      transform: scale(1.2);
    }
  }

  &__shop {
    width: 100%;
  }

  &__small {
    font-size: 10px;
    @include flex(ce,fe,false);
    width: 100px;
    color: $grey;

    i {
      background: $grey;
      color: $truewhite;
      border-radius: 50%;
      width: 1.4em;
      height: 1.4em;
      line-height: 1.4em;
      text-align: center;
      margin-left: .5em;
      display: flex !important;
      @include flex(ce,ce);

      &.glyph-male {
        background: $male;
      }

      &.glyph-female {
        background: $female;
      }
    }
  }

  &__fashion,
  &__address {
    width: 100%;
    font-size: 10px;
    color: $grey;
    @include flex(ce,fs,false);

    .glyph {
      transform: scale(1.1);
      margin-right: .5em;
    }

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__full {
    background: rgba($grey,.1);
    border-radius: 1em;
    display: block;
    font-size: 10px;
    padding: 0;
    margin-right: auto;
    width: 3em;
    min-width: 3em;
    text-align: center;
  }

  &__address {
    justify-content: flex-end;
  }

  &__last-message {
    width: 100%;
    font-size: 12px;
    color: $grey;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.is-moved {
      color: $mainLt;

      &::before {
        content: '移動しました';
        display: inline-block;
        background: $mainLt;
        color: $truewhite;
        border-radius: 1em;
        padding: 0 .5em;
        transform: scale(.9);
        transform-origin: center left;
      }

      i {
        margin-right: .5em;
      }
    }
  }

  &__remain {
    width: 100%;
    font-size: 10px;
    color: $grey;
    // @include flex(ce,fe);
    @include flex(ce,sb,false);

    .c-badge {
      margin-right: auto;
    }

    .p-progress-bar {
      margin-right: 1em;
    }

    i {
      transform: scale(1.1);
      margin-left: .5em;
      margin-right: .5em;
    }
  }

  &__remain-body {
    min-width: 12em;
    @include flex(ce,fe,false);
    margin-left: auto;
  }

  &__error {
    @include ellipsis;
    color: $cs04;
    // font-weight: bold;
  }

  &__gender-rate {
    width: 100%;
    @include flex(ce,fe);
  }

  &__label {
    border: 1px solid rgba($grey,.2);
    font-size: 12px;
    border-radius: 1.5em;
    padding: .2em 1em;
    margin-right: .5em;

    @include ltSM {
      padding: .4em 1em;
    };

    @include ltXXS {
      font-size: 10px;
      padding: .4em .8em;
    };
  }

  &__rate-container {
    font-size: 24px;
    color: $grey;

    small {
      font-size: 50%;
    }

    & > .glyph {
      @include ease(.2s);
    }
  }
}

#male .p-talk-list:not(.male),
#female .p-talk-list:not(.female) {
  display: none;
}

.p-talk-list--notice.male,
.p-talk-list--notice.female {
  display: none;
}

#male .p-talk-list--notice.male,
#female .p-talk-list--notice.female {
  display: flex;
}
