//- .p-placedetail(v-if='currentId1==pane1[2].id')
.p-placedetail(v-if='placeDetail.id')
  header.p-account.p-placedetail__header
    .p-account__title
      figure.p-avatar.p-avatar--rect(v-if='placeDetail.logo_image')
        img(:src='placeDetail.logo_image')
      span.p-avatar.p-avatar--rect(v-else v-html='defaultAvatar(placeDetail.name,placeDetail.id)')
      h2.p-username {{placeDetail.name}}
        small.p-username__small {{placeDetail.store_type}}
    figure.p-cover
      img(:src='placeDetail.cover_image' v-if='placeDetail.cover_image')
      img(:src='"/_assets/img/default_svg/default-"+ String(placeDetail.id).slice(-2) +".svg"' v-else)
  .p-placedetail__body.u-text
    .p-profile__situation(v-if='placeDetail.description')
      p.p-profile__situation-item
        i About
      p.p-profile__situation-item(v-html='nl2br(placeDetail.description)')
    table.p-profile__table.p-profile__table--bottom-margin
      tbody
        tr
          th 住所
          td
            b
              i.glyph.glyph-map-marked-alt
              | {{currentAreaName}}
            br
            a.p-profile__address(:href='"https://www.google.co.jp/maps/search/"+displayPlaceAddress' target='_blank' v-if='displayPlaceAddress')
              i.glyph.glyph-map-marker
              span
                em {{displayPlaceAddress}}
        tr
          th 現在の空席状況
          td
            span(v-if='placeDetail.seat_status=="full"') 満席
            span(v-else-if='placeDetail.seat_status=="few"') もうすぐ満席
            span(v-else) 空席あり
            br
            | ※ 空席状況はあくまで目安です。
        tr
          th 営業時間
          td
            div
              i 日 
              span(v-if='placeDetail.is_sun_holiday') 定休日
              span(v-else) {{placeDetail.sun_start_at}} - {{placeDetail.sun_end_at}}
            div
              i 月 
              span(v-if='placeDetail.is_mon_holiday') 定休日
              span(v-else) {{placeDetail.mon_start_at}} - {{placeDetail.mon_end_at}}
            div
              i 火 
              span(v-if='placeDetail.is_tue_holiday') 定休日
              span(v-else) {{placeDetail.tue_start_at}} - {{placeDetail.tue_end_at}}
            div
              i 水 
              span(v-if='placeDetail.is_wed_holiday') 定休日
              span(v-else) {{placeDetail.wed_start_at}} - {{placeDetail.wed_end_at}}
            div
              i 木 
              span(v-if='placeDetail.is_thu_holiday') 定休日
              span(v-else) {{placeDetail.thu_start_at}} - {{placeDetail.thu_end_at}}
            div
              i 金 
              span(v-if='placeDetail.is_fri_holiday') 定休日
              span(v-else) {{placeDetail.fri_start_at}} - {{placeDetail.fri_end_at}}
            div
              i 土 
              span(v-if='placeDetail.is_sat_holiday') 定休日
              span(v-else) {{placeDetail.sat_start_at}} - {{placeDetail.sat_end_at}}
            br
            | ※ 営業時間・休業日は予告なく変更となる場合があります。
        tr
          th 電話番号
          td
            a(:href='"tel:"+placeDetail.telephone' v-if='placeDetail.telephone') {{placeDetail.telephone}}
            span(v-else) -
        tr
          th 公式サイト
          td
            a(:href='placeDetail.url' target='_blank' v-if='placeDetail.url') {{placeDetail.url}}
            span(v-else) -
        tr
          th 備考
          td(v-html='nl2br(placeDetail.note)' v-if='placeDetail.note')
          td(v-else) -
