// --------------------------------------------------
// Basic styling
// --------------------------------------------------

html {
  $baseFontSize: 62.5%;
  font-size: $baseFontSize;
  height: 100%;

  @include ltMD {
    font-size: $baseFontSize * 0.90;
  };

  @include ltSM {
    font-size: $baseFontSize * 0.80;
  };

  @include ltXS {
    font-size: $baseFontSize * 0.75;
  };

  &.screen {
    height: 100%;
    overflow: hidden;
  }
}

body {
  @include Mplus(500,.04);
  @include fs(16);
  line-height: 1.8;
  min-width: 320px;
  margin: 0 auto !important;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  background-color: $base;
  color: $charcoal;
  color: $lightcharcoal;
  // color: $darkgrey;

  &.is-entire-nav-target {
    height: 100%;
    overflow: hidden;
  }

  &.is-invalid-scroll {
    height: 100%;
    overflow: hidden;
  }

  &.screen-height {
    // 【スマホ】アドレスバーを含まない純粋な全画面高の取得
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
  }
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: HuiFont;
  src: url("/_assets/fonts/HuiFontP29/HuiFontP29.eot");
  src: url("/_assets/fonts/HuiFontP29/HuiFontP29.woff") format("woff"),
  url("/_assets/fonts/HuiFontP29/HuiFontP29.ttf") format("truetype");
}

// --------------------------------------------------
// Flow content
// --------------------------------------------------

// --------------------------------------------------
// Phrasing content
// --------------------------------------------------

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
  word-break: break-all;
  @include linear;

  @include hover {
    color: $cs01;
  };
}

b {
  font-weight: 500;
}

strong {
  font-weight: bold;
}

// --------------------------------------------------
// Form Element
// --------------------------------------------------

button,
input[type="button"],
input[type="submit"] {
  appearance: button;
  border: 1px solid;
  cursor: pointer;
  @include ease;
  @include fs(16);
  text-align: center;
  font-family: inherit;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
textarea {
  caret-color: $accent;
  color: inherit;
  font-family: inherit;
  background: transparent;
  border: none;
}

input[type="date"] {
  caret-color: $accent;
  color: inherit;
  font-family: inherit;
  background: transparent;
  border: 1px solid rgba($grey,.2);
  border-radius: 4px;
  padding: .2em .5em;
}


input:focus,
textarea:focus,
keygen:focus,
select:focus { outline-offset: -2px; }
:focus { outline: none; }
a:focus { outline: none;text-decoration: none; }

.p-login__input,
.u-text {
  input:-webkit-autofill {
    /* ここで指定しているbackground-colorは黄色い背景色のことです */
    -webkit-transition: background-color 9999s;
    transition: background-color 9999s;
  }
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba($grey,.1);
  height: 2px;
  width: 100%;
  max-width: 32em;
  border-radius: 6px;

  &:focus,
  &:active {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    width: 22px;
    height: 22px;
    display: block;
    background-color: $accent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: none;

    @include ltXS {
      width: 32px;
      height: 32px;
    };
  }
}

main {

  // --------------------------------------------------
  // Only in Main Content
  // --------------------------------------------------

  a {
    color: $accent;

    @include hover {
      color: $accentLt;
    };
  }
}
