header.s-header

  block header
  .flex(style={display: "flex", "justify-content": "center", position: "relative"})
    .flex-item.left(style={position: "absolute", left: "0"})
      h1
        a.c-logo__body(href="/")
          i.glyph.glyph-brand-logo.c-logo__symbol
          span.c-logo__text.cft Real-Connect
    .flex-item.center
      a(href="/area/" style={color: "white", "font-size": "60px", "font-family": "Poiret One, cursive"}) Place
