extend /_tpl/foundation/_base-index

append required
  - const pageTitle = "Table of Content"

block content

  // BEGIN Page Content.

  section.c-container

    nav.p-table-content
      h3.p-table-content__heading
        a(href='/user/' target='_blank') ユーザー画面
      ul.p-table-content-body
        li.p-table-content-body__item
          a.p-table-content-body__content(href='/user/' target='_blank')
            span.p-table-content-body__label ユーザー画面TOP
            | /user/
        li.p-table-content-body__item
          a.p-table-content-body__content(href='/user/regist/' target='_blank')
            span.p-table-content-body__label 新規登録画面
            | /user/regist/
        li.p-table-content-body__item
          a.p-table-content-body__content(href='/user/reset_password/' target='_blank')
            span.p-table-content-body__label パスワード再設定
            | /user/reset_password/

    nav.p-table-content
      h3.p-table-content__heading
        a(href='/admin/' target='_blank') 管理画面
      ul.p-table-content-body
        li.p-table-content-body__item
          a.p-table-content-body__content(href='/admin/' target='_blank')
            span.p-table-content-body__label 管理画面TOP
            | /admin/
        li.p-table-content-body__item
          a.p-table-content-body__content(href='/admin/login/' target='_blank')
            span.p-table-content-body__label ログイン画面
            | /admin/login/
        li.p-table-content-body__item
          a.p-table-content-body__content(href='/admin/code/' target='_blank')
            span.p-table-content-body__label チェックインコード表示
            | /admin/code/


  // END Page Content.
