
このたびりあこね新規店舗登録頂いた件について
弊社にて審査させて頂いた結果ご登録を見送らせて頂く運びとなりました。
尚、審査内容に関してこちらの都合ではございますが開示できないこともお知らせいたします。
\
今後とも貴店のご繁栄を心よりお祈りいたしております。
\
\-----------------------------------------------------------------
株式会社リアルコネクト
〒810-0041
福岡市中央区大名2丁目4-38-718

TEL092-516-0240（代表）FAX092-516-0240
\-----------------------------------------------------------------
