
この度はりあこねにご登録ありがとうございます。
お申込いただきました店舗様情報を反映致しました。
\
掲載料金につきましては初月無料
課金発生は翌1日～となります。
月末締めの翌25日にご登録頂いたクレジットカード会社よりの請求となります。
\
今後とも末永くよろしくお願い申し上げます。
\
\-----------------------------------------------------------------
株式会社リアルコネクト
〒810-0041
福岡市中央区大名2丁目4-38-718
\
TEL092-516-0240（代表）FAX092-516-0240
\-----------------------------------------------------------------
