# ------------------------------
# project毎のnpmコマンドの設定用ファイル
#
# - frontend 案件向け
# - package-lock.json のコンフリクトの回避
# - 複数人で触るプロジェクト向け
#
# ドキュメント↓
# https://docs.npmjs.com/misc/config
# ------------------------------

# ------------------------------
# 依存パッケージの optional インストールを無効化
# ------------------------------
optional=false

# ------------------------------
# shrinkwrap、outdated、updateコマンド時、devを含める
# ------------------------------
also=dev

# ------------------------------
# npm install、npm rm 時のオプションを付与しない
# ------------------------------
save-exact=true

# ------------------------------
# npm installするときに出てくるprogressバーの制御
# ------------------------------
# progress=false

# ------------------------------
# Nodeバージョンが合致しない場合はnpm installを失敗扱いにする
# ------------------------------
engine-strict=true

# ------------------------------
# （案件に応じる）npm実行のログレベルを変更（デフォルトはwarn）
# ※ warnだと、依存したパッケージのエラーが出てしまう
# ------------------------------
loglevel="error"
