article#manage-license.l-block( data-layer='2' )
  header.l-pane__header.p-pane-control
    .p-pane-control__button( data-block='back' )
      i.glyph ＜
    .p-pane-control__heading
      span.p-pane-control__title ライセンス情報
  section.l-pane__body
    .p-scrollable
      // ↓ BEGIN Block Content
      .p-block-content-container
        .p-block-content.p-block-content--full(style='height:100%;')
          #e-license.p-editor-content
            h3 Legal Notice
            p: br
            p PLEASE READ THESE TERMS CAREFULLY BEFORE USING THIS APPLICATION
            p: br
            h4 Copyright
            p: br
            p This application is Copyright © 2017-2018 Real-Connect Inc. All Rights Reserved.
            p: br
            p All technical and layout content of this application, including icons, images, and software, is the property of Real-Connect Inc. or its content suppliers and is protected by Belgian and international copyright laws and treaty provisions. The compilation (meaning the collection, arrangement, and assembly) of all technical and layout content on this application is the exclusive property of Real-Connect Inc. and is protected by Belgian and international copyright laws and treaty provisions. All software used on this application is the property of Real-Connect Inc. and protected by Belgian and international copyright laws and treaty provisions. This application or any part of it may not be used, copied, reproduced, modified, published, uploaded, posted, transmitted or distributed in any way, without Real-Connect Inc.' prior written consent.
            p: br
            h4 特許情報
            p: br
            p 株式会社リアルコネクトでは、当該アプリケーションである「りあこね」の主要機能であるソーシャルトークおよびイベント会場管理、ユーザー管理の仕組みにおいて、特許を保有しています。
            p: br
            p 特許：第00000000号
            p: br
            p 要約：ダミーテキストです。文字が入ります。ダミーテキストです。文字が入ります。ダミーテキストです。文字が入ります。ダミーテキストです。文字が入ります。ダミーテキストです。文字が入ります。ダミーテキストです。文字が入ります。ダミーテキストです。文字が入ります。ダミーテキストです。文字が入ります。ダミーテキストです。文字が入ります。ダミーテキストです。文字が入ります。ダミーテキストです。文字が入ります。ダミーテキストです。文字が入ります。ダミーテキストです。文字が入ります。
            p: br
            p 詳細：弊社特許情報の詳細は「特許情報プラットホーム」から確認することができます。
              br
              a(href='https://www.j-platpat.inpit.go.jp/web/all/top/BTmTopPage' target='_blank') 特許庁特許情報プラットホーム
              br
              | 上記ホームページの検索欄に”株式会社リアルコネクト”と入力し「検索」を実行してください。
          button 保存する
      // ↑ END Block Content
