article#setting.l-block( data-layer='2' )
  header.l-pane__header.p-pane-control
    .p-pane-control__button( data-block='back' )
      i.glyph ＜
    .p-pane-control__heading
      span.p-pane-control__title アプリ設定
  section.l-pane__body
    .p-scrollable
      // ↓ BEGIN Block Content
      .p-block-content-container
        .p-block-content.p-block-content--half
          section
            h3 スタイル設定
            section
              h4 モード
              .input-field
                label.c-radio
                  input(type='radio' name='theme_mode' value='' v-model='theme.mode')
                  span.c-radio__mirror
                  | 標準
                label.c-radio
                  input(type='radio' name='theme_mode' value='is-mode--dark' v-model='theme.mode')
                  span.c-radio__mirror
                  | ダーク
                label.c-radio
                  input(type='radio' name='theme_mode' value='is-mode--light' v-model='theme.mode')
                  span.c-radio__mirror
                  | ライト
            section
              h4 カラー
              .input-field
                label.c-radio
                  input(type='radio' name='theme_color' value='' v-model='theme.color')
                  span.c-radio__mirror
                  | 標準
                label.c-radio
                  input(type='radio' name='theme_color' value='is-color--cp' v-model='theme.color')
                  span.c-radio__mirror
                  | カンパニュラ
                label.c-radio
                  input(type='radio' name='theme_color' value='is-color--cc' v-model='theme.color')
                  span.c-radio__mirror
                  | コールドチェアー
            //- section
              h4 スタイルセット
              .input-field
                label.c-checkbox
                  input(type='checkbox' name='theme-use' value='1')
                  span.c-checkbox__mirror
                  | スタイルセットを適用
                  
              .input-field.is-theme-use
                label.c-radio
                  input(type='radio' name='theme' value='is-theme--dnm')
                  span.c-radio__mirror
                  | デニムブルー
                label.c-radio
                  input(type='radio' name='theme' value='is-theme--dnm-blk' checked)
                  span.c-radio__mirror
                  | デニムブラック
                label.c-radio
                  input(type='radio' name='theme' value='is-theme--ch')
                  span.c-radio__mirror
                  | カモミール

        .p-block-content.p-block-content--half
          section
            h3 通知設定
            //- section
              h4 プッシュ通知
              p お使いの端末ではプッシュ通知はご利用いただけません
              .input-field
                label.c-radio
                  input(type='radio' name='push' value='on' checked)
                  span.c-radio__mirror
                  | ON
                label.c-radio
                  input(type='radio' name='push' value='off')
                  span.c-radio__mirror
                  | OFF
            section
              h4 メッセージ受信音（アプリ内通知）
              .input-field
                label.c-radio
                  input(type='radio' name='notice' value='notice1' v-model='audio.notice' @change='soundPlay("notice")')
                  span.c-radio__mirror
                  | 通知1
                label.c-radio
                  input(type='radio' name='notice' value='notice2' v-model='audio.notice' @change='soundPlay("notice")')
                  span.c-radio__mirror
                  | 通知2
                label.c-radio
                  input(type='radio' name='notice' value='notice3' v-model='audio.notice' @change='soundPlay("notice")')
                  span.c-radio__mirror
                  | ベル
                label.c-radio
                  input(type='radio' name='notice' value='notice4' v-model='audio.notice' @change='soundPlay("notice")')
                  span.c-radio__mirror
                  | マリンバ
                label.c-radio
                  input(type='radio' name='notice' value='off' v-model='audio.notice' @change='soundPlay("notice")')
                  span.c-radio__mirror
                  | OFF
            section
              h4 トークルームでの送受信音（アプリ内通知）
              .input-field
                label.c-radio
                  input(type='radio' name='updated' value='updated1' v-model='audio.updated' @change='soundPlay("updated")')
                  span.c-radio__mirror
                  | 送信1
                label.c-radio
                  input(type='radio' name='updated' value='updated2' v-model='audio.updated' @change='soundPlay("updated")')
                  span.c-radio__mirror
                  | 送信2
                label.c-radio
                  input(type='radio' name='updated' value='updated3' v-model='audio.updated' @change='soundPlay("updated")')
                  span.c-radio__mirror
                  | グラス
                label.c-radio
                  input(type='radio' name='updated' value='updated4' v-model='audio.updated' @change='soundPlay("updated")')
                  span.c-radio__mirror
                  | コンガ
                label.c-radio
                  input(type='radio' name='updated' value='off' v-model='audio.updated' @change='soundPlay("updated")')
                  span.c-radio__mirror
                  | OFF
            h4 音量  {{Number(String(audio.volume*100).slice(0,3))}} %
            input(type='range' value='0' min='0' max='1' step='0.05' v-model='audio.volume')

        .p-block-content.p-block-content--half
          section
            h3 レイアウト
            section
              h4 トークルーム内の自分のアイコン
              .input-field
                label.c-radio
                  input(type='radio' value='show' v-model='layout.own_avatar')
                  span.c-radio__mirror
                  | 表示する
                label.c-radio
                  input(type='radio' value='hide' v-model='layout.own_avatar')
                  span.c-radio__mirror
                  | 隠す

      // ↑ END Block Content
