block js
  if userType == 'user'
    script(src="/_assets/js/app-user.js")
  if userType == 'admin'
    script(src="/_assets/js/app-admin.js")
  if userType == 'master'
    script(src="/_assets/js/app-master.js")
  if userType == 'area'
    script(src="/_assets/js/app-area.js")

script
  .
    if (location.pathname === '/') {
      location.href = '/user/';
    }
