extend /_tpl/foundation/_base-app

append required
  - const pageTitle = 'マイページ'
  - const userType = 'user'

block content

  // ↓ BEGIN Page Content
  // ↓ Pane
  .l-pane-container.l-block-behind
    include /_tpl/layout/pane/_pane1
    include /_tpl/layout/pane/_pane2
    include /_tpl/layout/pane/_pane3
  // ↑ Pane
  // ↓ Block
  .l-block-container
    include /_tpl/layout/block/menu/_user
    include /_tpl/layout/block/_user-profile
    include /_tpl/layout/block/_account
    include /_tpl/layout/block/_setting
    //- include /_tpl/layout/block/_info
    include /_tpl/layout/block/_terms
    include /_tpl/layout/block/_privacy
    include /_tpl/layout/block/_event
    //- include /_tpl/layout/block/_help
    //- include /_tpl/layout/block/_feedback
    //- include /_tpl/layout/block/_version
    //- include /_tpl/layout/block/_release
    //- include /_tpl/layout/block/_license
  // ↑ Block
  // ↓ Sidebar
  include /_tpl/layout/pc-menu/_user
  // ↑ Sidebar
  // ↓ Modals
  //- include /_tpl/layout/modal/_pc-notice
  //- include /_tpl/layout/modal/_modal-demo
  include /_tpl/layout/modal/_check-in
  //- include /_tpl/layout/modal/_log-in
  include /_tpl/layout/modal/_user-log-in
  include /_tpl/layout/modal/_user-detail
  include /_tpl/layout/modal/_admin-detail
  include /_tpl/layout/modal/_area-change
  include /_tpl/layout/modal/_delete-account
  // ↑ Modals
  // ↓ Other Parts
  include /_tpl/object/_load-status
  // ↑ Other Parts
  transition(name='v-toast' appear v-if='toast.show')
    article.c-toast
      .c-toast__frame
        .c-toast__inner.u-text
          h2
            I.glyph.glyph-exclamation-circle
            | {{toast.title}}
          p(v-if='toast.lead') {{toast.lead}}
          button.accept(v-if='toast.accept' @click='hideToast()') accept

  transition(name='v-preloader' appear v-if='!loaded')
    .p-preloader
      .p-preloader__inner
        .p-preloader__logo.c-logo
          .c-logo__body
            i.glyph.glyph-brand-logo.c-logo__symbol
            span.c-logo__text.cft Real-Connect
        .p-preloader__spinner(:class='{"is-visible":!loadErr.show}')
          .p-spinner
            .p-spinner__item
            .p-spinner__item.p-spinner__item--2
        .p-preloader__text(:class='{"is-visible":!loadErr.show}') Now Loading
        .p-preloader__error(:class='{"is-visible":loadErr.show}')
          h1 {{loadErr.title}}
          p(v-html='loadErr.content')
          button(@click='placeList()') Retry

  transition(name='v-toast' appear v-if='isOnline==false')
    article.c-toast
      .c-toast__frame
        v-touch.c-toast__inner.u-text
          h2(v-if='isOnline==false')
            i.glyph.glyph-exclamation-circle
            | ネットに繋がっていません
          h2(v-else)
            i.glyph.glyph-exclamation-circle
            | ネットに繋がりました
          p(v-if='isOnline==false') サーバーと通信ができないのでネットワーク接続を確認してください。
          p(v-else) サーバーとの通信を再開します。

  transition(name='v-toast' appear v-if='isAvailable==false')
    article.c-toast
      .c-toast__frame
        v-touch.c-toast__inner.u-text
          h2(v-if='isAvailable==false')
            i.glyph.glyph-exclamation-circle
            | メッセージチャンネルから切断されました
          h2(v-else)
            i.glyph.glyph-exclamation-circle
            | メッセージチャンネルに接続されました
          p(v-if='isAvailable==false') メッセージチャンネルから切断されました。そのままお待ち頂くか、アプリケーションの再読込をお試し下さい。
            small 再接続されるまでメッセージの送受信は出来ません。
          .c-toast__button-container
            button.dismiss(@click='isAvailable=true;isOnline=true')
              i.glyph.glyph-plus-circle
              | Dismiss
            button(@click='reload()')
              i.glyph.glyph-preset03
              | Reload App

  transition(name='v-toast' appear v-if='changeEmail.dialog')
    article.c-toast
      .c-toast__frame
        v-touch.c-toast__inner.u-text

          h2(v-if='changeEmail.process=="starting"')
            i.glyph.glyph-spin.glyph-preset03
            | Eメールアドレスを変更しています
          h2(v-else-if='changeEmail.process=="error"')
            i.glyph.glyph-exclamation-circle
            | エラーが発生しました
          h2(v-else-if='changeEmail.process=="finished"')
            i.glyph.glyph-check-circle
            | Eメールアドレスの変更を承りました。
          h2(v-else-if='changeEmail.formatCheck')
            i.glyph.glyph-question-circle
            | 確認メールを送信します。
          h2(v-else)
            i.glyph.glyph-exclamation-circle
            | Eメールアドレスを確認して下さい

          ul.c-toast__list(v-if='changeEmail.process==""||changeEmail.process=="error"')
            li(v-for='item in changeEmail.notice') {{item}}
          ul(v-else-if='changeEmail.process=="starting"')
            .p-progress-bar
          ul(v-else-if='changeEmail.process=="finished"')
            li 確認メールに記載のメール認証ボタンを押して、Eメールアドレスの変更を完了させてください。
            li 新しいEメールアドレスは、お客様のメール認証待ちの状態となります。
            li メール認証が完了するまでは、変更前のEメールアドレスがログイン用のEメールアドレスとなります。

          .c-toast__button-container(v-if='changeEmail.process==""||changeEmail.process=="error"')
            button.dismiss(@click='changeEmail.dialog=false')
              i.glyph.glyph-plus-circle
              | 戻る
            button(@click='emailChange()' v-if='changeEmail.formatCheck&&changeEmail.process!="error"')
              i.glyph.glyph-check-circle
              | 変更する
            button.dismiss(@click='changeEmail.dialog=false' v-if='changeEmail.process=="finished"')
              i.glyph.glyph-plus-circle
              | 閉じる



  transition(name='v-toast' appear v-if='changePassword.dialog')
    article.c-toast
      .c-toast__frame
        v-touch.c-toast__inner.u-text

          h2(v-if='changePassword.process=="starting"')
            i.glyph.glyph-spin.glyph-preset03
            | パスワードを変更しています
          h2(v-else-if='changePassword.process=="error"')
            i.glyph.glyph-exclamation-circle
            | エラーが発生しました
          h2(v-else-if='changePassword.process=="finished"')
            i.glyph.glyph-check-circle
            | パスワードを変更しました
          h2(v-else-if='changePassword.formatCheck')
            i.glyph.glyph-question-circle
            | 本当にこのパスワードに変更しますか？
          h2(v-else)
            i.glyph.glyph-exclamation-circle
            | パスワードを確認して下さい

          ul.c-toast__list(v-if='changePassword.process==""||changePassword.process=="error"')
            li(v-for='item in changePassword.notice') {{item}}
          ul(v-else-if='changePassword.process=="starting"')
            .p-progress-bar
          ul(v-else-if='changePassword.process=="finished"')
            li 新しいパスワードはお手元に控えて大切に保管してください。

          .c-toast__button-container(v-if='changePassword.process==""||changePassword.process=="error"')
            button.dismiss(@click='changePassword.dialog=false')
              i.glyph.glyph-plus-circle
              | 戻る
            button(@click='passwordChange()' v-if='changePassword.formatCheck&&changePassword.process!="error"')
              i.glyph.glyph-check-circle
              | 変更する

  transition(name='v-notice' appear v-if='notice.show')
    article.c-notice
      .c-notice__frame
        v-touch.c-notice__inner.u-text(@swipeleft='hideNotice()')
          h2
            i.glyph.glyph-brand-logo
            | {{notice.title}}
          p(v-if='notice.lead')
            | {{notice.lead}}

  transition(name='v-notice' appear v-if='receive.show')
    article.c-notice
      .c-notice__frame
        v-touch.c-notice__inner.u-text(@swipeleft='hideReceive()')
          em.c-notice__label {{receive.label}}
          h2.p-account.c-notice__account(@click='messageTap(receive.event_id,receive.id)')
            .p-account__title
              figure.p-avatar(v-if='receive.avatar_image')
                img(v-lazy='receive.avatar_image')
              span.p-avatar(v-else)
                i.glyph.u-bg-darkgrey 
              .p-username.c-notice__username
                | {{receive.nickname}}
                small.p-username__small(v-if='receive.age') {{receive.age|format_age}} ─ {{receive.blood}}型 ─ {{receive.gender|format_gender}}
          p.c-notice__message-body(@click='messageTap(receive.event_id,receive.id)')
            i.glyph.glyph-brand-logo
            span.u-ellipsis {{receive.body}}
          .c-notice__annotation(v-if='receive.annotation.length' @click='messageTap(receive.event_id,receive.id)')
            p(v-for='item in receive.annotation')
              i.glyph.glyph-exclamation-circle
              | {{item.body}}

  audio#mute(preload='auto')
    source(src='/_assets/files/mute.mp3' type='audio/mp3')
  audio#notice1(preload='auto')
    source(src='/_assets/files/notice1.mp3' type='audio/mp3')
  audio#notice2(preload='auto')
    source(src='/_assets/files/notice2.mp3' type='audio/mp3')
  audio#notice3(preload='auto')
    source(src='/_assets/files/notice3.mp3' type='audio/mp3')
  audio#notice4(preload='auto')
    source(src='/_assets/files/notice4.mp3' type='audio/mp3')
  audio#updated1(preload='auto')
    source(src='/_assets/files/updated1.mp3' type='audio/mp3')
  audio#updated2(preload='auto')
    source(src='/_assets/files/updated2.mp3' type='audio/mp3')
  audio#updated3(preload='auto')
    source(src='/_assets/files/updated3.mp3' type='audio/mp3')
  audio#updated4(preload='auto')
    source(src='/_assets/files/updated4.mp3' type='audio/mp3')

  // ↑ END Page Content
