article#release.l-block( data-layer='3' )
  header.l-pane__header.p-pane-control
    .p-pane-control__button( data-block='back' )
      i.glyph ＜
    .p-pane-control__heading
      span.p-pane-control__title 現在のバージョン
      span.p-pane-control__notice test
  section.l-pane__body
    .p-scrollable
      // ↓ BEGIN Block Content
      .p-demo
        h1
          b #release
          | ［L3］
        p
          span.btn( data-block='back' ) ← 戻る
      // ↑ END Block Content
