article#version.l-block( data-layer='2' )
  header.l-pane__header.p-pane-control
    .p-pane-control__button( data-block='back' )
      i.glyph ＜
    .p-pane-control__heading
      span.p-pane-control__title バージョン情報
  section.l-pane__body
    .p-scrollable
      // ↓ BEGIN Block Content
      .p-block-content-container
        .p-block-content.p-block-content--full
          section
            h3 現在のバージョン
            .p-release
              em v1.0.3
              br
              small 2018.08.20
              ul
                li ダークモードの追加

            h3.p-release-title
              i.glyph.glyph-bullhorn
              |  過去の更新情報

            .p-release
              em v1.0.2
              br
              small 2018.08.10
              ul
                li 画面デザインを改善
                li トークルームにて、相手のアバターが表示されないバグを修正
            .p-release
              em v1.0.1
              br
              small 2018.08.01
              ul
                li 複数の会場ごとのチェックイン機能を追加
                li 会場によるユーザーの絞り込み機能を追加

      // ↑ END Block Content
