$paneHeaderH: 50px;
$paneNum: 3;
$ratio: 100% / $paneNum;
$menuW: 13em;
$painMaxW: 22em;
$breakPoint: #{$painMaxW*3+$menuW};

.l-pane-container {
  padding-top: $headerH;
  height: 100%;
  width: 100%;
  transition-property: margin width;
  transition-duration: .4s;
  background: inherit;

  @include ltSM {
    padding-top: 0;
    width: 100%;
  };

  @include gtMD {
    position: absolute;
    left: $menuW;
    width: calc( 100% - #{$menuW} );
    @include ease(.4s);

    &.is-menu-close {
      left: $paneHeaderH;
      width: calc( 100% - #{$paneHeaderH} );
    }
  };
}

.l-pane {
  width: $ratio;
  height: 100%;
  float: left;
  overflow: hidden;
  position: absolute;
  background: inherit;
  transition: left .4s ease-in-out;
  border-right: 1px solid rgba($grey,.2);

  @for $i from 1 through $paneNum {
    &#pane#{$i} { z-index: #{$i}; }
  }

  @include gtMD {
    transition: left 1s linear;

    @for $i from 1 through $paneNum {
      &:nth-of-type(#{$i}) { left: #{($i - 1)*$ratio}; }
    }

    @include gtLG {
      max-width: $painMaxW;

      @media screen and ( min-width:#{$breakPoint} ) {
        @for $i from 1 through $paneNum {
          &:nth-of-type(#{$i}) { left: #{($i - 1)*$painMaxW}; }
        }
        &:last-of-type {
          width: 100%;
          max-width: calc( 100% - #{$painMaxW*2} );
        }
      }
    };
  };

  &--full {
    &, &:last-of-type {
      z-index: 1;
      width: 100%;
      max-width: 100%;
    }
  }

  @include ltSM {
    width: 100%;
    left: -4%;
    border: none;

    &.is-visible { left: 0; }
    &.is-pushed { left: 100%; }
  };

  &__header {
    height: $paneHeaderH;
    border-bottom: 1px solid rgba($grey,.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    @include ltSM {
      background: $main;
      color: $truewhite;
      border: none;
    };

    &--menu {
      background: transparent !important;
      color: $truewhite;
    }
  }

  &__body {
    position: relative;
    padding-top: $paneHeaderH;
    padding-bottom: 1px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc( 100% - #{$paneHeaderH} );
    transition: padding-top .15s ease-in-out;
    background: inherit;

    @include ltSM {
      position: absolute;
      padding-top: 0;

      .is-msg-focus.ios & {
        padding-top: $paneHeaderH;
      }

      .is-msg-focus.ios.ios-standalone & {
        padding-top: $paneHeaderH - 10px;
        bottom: 10px;
      }
    };

    &.is-visible-tab {
      padding-top: $paneHeaderH + $paneHeaderH - 15px;

      @include ltSM {
        padding-top: $paneHeaderH - 15px;
      };
    }

    &--menu {
      height: 100%;
    }
  }
}

.p-pane-notice {
  background: $mainLt;
  font-size: 12px;
  padding: .5em 1em;
  margin-top: .5em;
  border-radius: 4px;
  color: $truewhite;

  // &__remain {}
}

#pane1 .l-pane__body {
  padding-top: $paneHeaderH + $paneHeaderH - 15px;
  height: calc( 100% - #{$paneHeaderH} - #{$paneHeaderH} + 15px );
  transition: padding-top .15s ease-in-out;

  @include ltSM {
    padding-top: $paneHeaderH - 20px;

    .is-msg-focus.ios & {
      padding-top: $paneHeaderH + $paneHeaderH - 20px;
    }

    .is-msg-focus.ios.ios-standalone & {
      padding-top: $paneHeaderH - 10px + $paneHeaderH - 20px;
      bottom: 10px;
    }
  };

  &.is-visible-tab {
    padding-top: $paneHeaderH + $paneHeaderH - 15px + $paneHeaderH - 15px;

    @include ltSM {
      padding-top: $paneHeaderH - 15px + $paneHeaderH - 20px;
    };
  }
}