extend /_tpl/foundation/_base-app

append required
  - const pageTitle = 'システム管理者'
  - const userType = 'master'

block js
  script(src="/_assets/js/app-master.js")

block link
  link( rel="stylesheet" href="/_assets/css/bootstrap/bootstrap-vue.css" )
  link( rel="stylesheet" href="/_assets/css/theme.css" )

block content

  .l-pane-container.l-block-behind
    router-view(
      :user-data='userData'
      :events='events'
    )

  // ↓ Block
  .l-block-container
    include /_tpl/layout/block/menu/_admin
  // ↑ Block

  // ↓ Sidebar
  include /_tpl/layout/pc-menu/_master
  // ↑ Sidebar
