article#manage-event.l-block( data-layer='2' )
  header.l-pane__header.p-pane-control
    .p-pane-control__button( data-block='manage-event' )
      i.glyph ＜
    .p-pane-control__heading
      span.p-pane-control__title イベント
  section.l-pane__body
    .p-scrollable
      // ↓ BEGIN Block Content
      .p-block-content-container
        .p-block-content.p-block-content--full

          button(@click='openModal("eventAdd")') 新規追加

          table.p-user-data
            thead
              tr
                th(colspan='2')
                  .u-flex--ce-fs
                    label.c-checkbox
                      input(type='checkbox' name='' value='')
                      span.c-checkbox__mirror
                    | イベント
                th 開始日時
                th 終了日時
                th 登録日時
            tbody
              tr
                td(colspan='2')
                  .u-flex--ce-fs
                    label.c-checkbox
                      input(type='checkbox' name='' value='')
                      span.c-checkbox__mirror
                    .p-user-data__event(@click='openModal("eventEdit")')
                      | ID:6 - 2018年10月17日(水)
                      span code : 1qaz
                td
                  time 2018年10月17日(水)
                  br
                  time 10時00分00秒
                td
                  time 2018年10月18日(木)
                  br
                  time 00時00分00秒
                td
                  time 2018年10月15日(月)
                  br
                  time 20時24分54秒
              tr
                td(colspan='2')
                  .u-flex--ce-fs
                    label.c-checkbox
                      input(type='checkbox' name='' value='')
                      span.c-checkbox__mirror
                    .p-user-data__event(@click='openModal("eventEdit")')
                      | ID:5 - 2018年10月17日(水)
                      span code : 1qaz
                td
                  time 2018年10月17日(水)
                  br
                  time 10時00分00秒
                td
                  time 2018年10月18日(木)
                  br
                  time 00時00分00秒
                td
                  time 2018年10月15日(月)
                  br
                  time 20時24分54秒
              tr
                td(colspan='2')
                  .u-flex--ce-fs
                    label.c-checkbox
                      input(type='checkbox' name='' value='')
                      span.c-checkbox__mirror
                    .p-user-data__event(@click='openModal("eventEdit")')
                      | ID:4 - 2018年10月17日(水)
                      span code : 1qaz
                td
                  time 2018年10月17日(水)
                  br
                  time 10時00分00秒
                td
                  time 2018年10月18日(木)
                  br
                  time 00時00分00秒
                td
                  time 2018年10月15日(月)
                  br
                  time 20時24分54秒
              tr
                td(colspan='2')
                  .u-flex--ce-fs
                    label.c-checkbox
                      input(type='checkbox' name='' value='')
                      span.c-checkbox__mirror
                    .p-user-data__event(@click='openModal("eventEdit")')
                      | ID:3 - 2018年10月17日(水)
                      span code : 1qaz
                td
                  time 2018年10月17日(水)
                  br
                  time 10時00分00秒
                td
                  time 2018年10月18日(木)
                  br
                  time 00時00分00秒
                td
                  time 2018年10月15日(月)
                  br
                  time 20時24分54秒
              tr
                td(colspan='2')
                  .u-flex--ce-fs
                    label.c-checkbox
                      input(type='checkbox' name='' value='')
                      span.c-checkbox__mirror
                    .p-user-data__event(@click='openModal("eventEdit")')
                      | ID:2 - 2018年10月17日(水)
                      span code : 1qaz
                td
                  time 2018年10月17日(水)
                  br
                  time 10時00分00秒
                td
                  time 2018年10月18日(木)
                  br
                  time 00時00分00秒
                td
                  time 2018年10月15日(月)
                  br
                  time 20時24分54秒
              tr
                td(colspan='2')
                  .u-flex--ce-fs
                    label.c-checkbox
                      input(type='checkbox' name='' value='')
                      span.c-checkbox__mirror
                    .p-user-data__event(@click='openModal("eventEdit")')
                      | ID:1 - 2018年10月17日(水)
                      span code : 1qaz
                td
                  time 2018年10月17日(水)
                  br
                  time 10時00分00秒
                td
                  time 2018年10月18日(木)
                  br
                  time 00時00分00秒
                td
                  time 2018年10月15日(月)
                  br
                  time 20時24分54秒
          .p-pagenavi
            span.p-pagenavi__page(data-pagination='1') 1
            span.p-pagenavi__extend ...
            span.p-pagenavi__page(data-pagination='13') «
            span.p-pagenavi__page(data-pagination='12') 12
            span.p-pagenavi__page(data-pagination='13') 13
            span.p-pagenavi__page.is-current(data-pagination='14') 14
            span.p-pagenavi__page(data-pagination='15') 15
            span.p-pagenavi__page(data-pagination='16') 16
            span.p-pagenavi__page(data-pagination='15') »
            span.p-pagenavi__extend ...
            span.p-pagenavi__page(data-pagination='34') 34
      // ↑ END Block Content
