article#manage-info.l-block( data-layer='2' )
  header.l-pane__header.p-pane-control
    .p-pane-control__button( data-block='back' )
      i.glyph ＜
    .p-pane-control__heading
      span.p-pane-control__title お知らせ
  section.l-pane__body
    .p-scrollable
      // ↓ BEGIN Block Content
      .p-block-content-container
        .p-block-content.p-block-content--full

          button(@click='openModal("infoAdd")') 新規追加

          table.p-user-data
            thead
              tr
                th(colspan='2')
                  .u-flex--ce-fs
                    label.c-checkbox
                      input(type='checkbox' name='' value='')
                      span.c-checkbox__mirror
                    | お知らせ
                th 投稿日時
            tbody
              tr
                td(colspan='2')
                  .u-flex--ce-fs
                    label.c-checkbox
                      input(type='checkbox' name='' value='')
                      span.c-checkbox__mirror
                    .p-user-data__event.p-user-data__ellipse(@click='openModal("infoEdit")')
                      | ID:6 - サーバーメンテナンスのお知らせ
                td
                  time 2018年10月17日(水)
                  br
                  time 10時00分00秒
              tr
                td(colspan='2')
                  .u-flex--ce-fs
                    label.c-checkbox
                      input(type='checkbox' name='' value='')
                      span.c-checkbox__mirror
                    .p-user-data__event.p-user-data__ellipse(@click='openModal("infoEdit")')
                      | ID:5 - サーバーメンテナンスのお知らせ
                td
                  time 2018年10月17日(水)
                  br
                  time 10時00分00秒
              tr
                td(colspan='2')
                  .u-flex--ce-fs
                    label.c-checkbox
                      input(type='checkbox' name='' value='')
                      span.c-checkbox__mirror
                    .p-user-data__event.p-user-data__ellipse(@click='openModal("infoEdit")')
                      | ID:4 - サーバーメンテナンスのお知らせ
                td
                  time 2018年10月17日(水)
                  br
                  time 10時00分00秒
              tr
                td(colspan='2')
                  .u-flex--ce-fs
                    label.c-checkbox
                      input(type='checkbox' name='' value='')
                      span.c-checkbox__mirror
                    .p-user-data__event.p-user-data__ellipse(@click='openModal("infoEdit")')
                      | ID:3 - サーバーメンテナンスのお知らせ
                td
                  time 2018年10月17日(水)
                  br
                  time 10時00分00秒
              tr
                td(colspan='2')
                  .u-flex--ce-fs
                    label.c-checkbox
                      input(type='checkbox' name='' value='')
                      span.c-checkbox__mirror
                    .p-user-data__event.p-user-data__ellipse(@click='openModal("infoEdit")')
                      | ID:2 - サーバーメンテナンスのお知らせ
                td
                  time 2018年10月17日(水)
                  br
                  time 10時00分00秒
              tr
                td(colspan='2')
                  .u-flex--ce-fs
                    label.c-checkbox
                      input(type='checkbox' name='' value='')
                      span.c-checkbox__mirror
                    .p-user-data__event.p-user-data__ellipse(@click='openModal("infoEdit")')
                      | ID:1 - サーバーメンテナンスのお知らせ
                td
                  time 2018年10月17日(水)
                  br
                  time 10時00分00秒
          .p-pagenavi
            span.p-pagenavi__page(data-pagination='1') 1
            span.p-pagenavi__extend ...
            span.p-pagenavi__page(data-pagination='13') «
            span.p-pagenavi__page(data-pagination='12') 12
            span.p-pagenavi__page(data-pagination='13') 13
            span.p-pagenavi__page.is-current(data-pagination='14') 14
            span.p-pagenavi__page(data-pagination='15') 15
            span.p-pagenavi__page(data-pagination='16') 16
            span.p-pagenavi__page(data-pagination='15') »
            span.p-pagenavi__extend ...
            span.p-pagenavi__page(data-pagination='34') 34

      // ↑ END Block Content
