extend /_tpl/foundation/_base-account

append required
  - const pageTitle = 'りあこねアカウントの作成'
  - const userType = 'user'

block content

  // ↓ BEGIN Page Content

  section.p-login__overlay.p-login__overlay--new-regist
    include /_tpl/object/_new-regist

  // ↑ END Page Content
