transition(name='v-modal' appear v-if='modal.userLogIn')
  article#log-in.p-login.is-visible
    .p-login__overlay
      section.p-login__inner
        header.p-login__header.u-text__center
          h2.u-flex--ce-ce
            i.glyph.glyph-brand-logo.p-login__logo
            span.cft Real-Connect

        #log-in-form.p-login__body(v-if='loginForm.input')
          p.p-login__block りあこねアカウントでログイン
          .p-login__input-area.p-login__input-area--modified
            label.c-input.p-login__input
              i.glyph.glyph-envelope
              input.c-input__item(type='email' name='user-login-email' placeholder='Eメールアドレス' v-model='userLogIn.email')
            label.c-input.p-login__input.has-submit_
              i.glyph.glyph-lock
              input.c-input__item(type='password' name='user-login-password' placeholder='パスワード' v-model='userLogIn.password')
          button.p-login__button(@click='sessionUser()' :class='{"is-loading":userLogInLoad}')
            i.glyph.glyph-sign-in-alt
            | ログイン
          p.p-login__block.p-login__error(:class='{"is-visible":loginForm.msg!=""}')
            | {{loginForm.msg}}
            small {{loginForm.debug}}{{loginForm.debugDefault}}
          p.p-login__block.p-login__block--forgot-password
            span.p-login__underline(@click='forgotPassword()') → パスワードをお忘れですか？
          .p-login__regist
            p まだアカウントを
              br
              | お持ちではない方
            button(@click='registShow()') アカウントの作成

        #reset-password.p-login__body(v-if='loginForm.resetPassword')
          .p-login__text
            h3: i.glyph.glyph-lock
              | パスワードの再設定
            p 登録したEメールアドレスを入力してください。登録Eメールアドレスへパスワードの再設定メールが送信されます。
          .p-login__input-area(v-if='loginForm.resetPassword')
            label.c-input.p-login__input.has-submit
              i.glyph.glyph-envelope
              input.c-input__item(type='email' name='' placeholder='Eメールアドレス' v-model='userLogIn.email')
            div
              button.c-input__button(@click='requestResetPassword()')
                i.glyph.glyph-black-rightwards-arrowhead
          .p-login__text
            p 送信後30分以内に、Eメールに記載されたURLをクリックし、パスワードの再設定を開きます。
              br
              | パスワードの再設定画面にて新しいパスワードを設定してください。
            p
              span.p-login__underline(@click='forgotPasswordCancel()') ← ログイン画面へ戻る

        #new-regist.p-login__body(v-if='loginForm.newRegist')
          .p-login__text
            h3.u-text__center.p-login__se-hidden
              | りあこねアカウント 仮登録
            p
              span.p-login__se-hidden 登録したEメールアドレスへ本登録用のEメールを送信します。
              | 有効なEメールアドレスを入力して下さい。
          .p-login__input-area
            label.c-input.p-login__input
              i.glyph.glyph-envelope
              input.c-input__item(type='email' name='email' placeholder='Eメールアドレス' v-model='userLogIn.email')
          .p-login__text
            h3 パスワード
            p 半角英数8文字以上（大文字小文字は区別されます）
          .p-login__input-area
            label.c-input.p-login__input
              i.glyph.glyph-lock
              input.c-input__item(type='password' name='password' placeholder='パスワード' v-model='userLogIn.password')
          .p-login__input-area
            label.c-input.p-login__input
              i.glyph.glyph-lock
              input.c-input__item(type='password' name='password_conf' v-model='userLogIn.password_conf' placeholder='パスワード（確認）')


          //- 実行中のローディング
          .p-login__progress(v-if='userLogInLoad')
            .p-progress-bar.p-progress-bar--white

          p.p-login__block.p-login__error(:class='{"is-visible":regTmp.msg!=""}')
            | {{regTmp.msg}}
            small {{regTmp.debug}}

          .p-login__text
            p 送信後30分以内に
              span.p-login__se-hidden 、Eメールに記載されたURLをクリックし、
              | 本登録を完了させて下さい。
          .p-login__regist.p-login__regist-button
            button(@click='forgotPasswordCancel()')
              | 戻る
            button(@click='registerProvisionalUser()')
              | 送信する

        #new-regist.p-login__body(v-if='loginForm.pendingRegist')
          .p-login__text
            h3.u-text__center Eメールを確認してください。
            p {{ userData.email }} へ本登録用のEメールを送信しました。
              br
              | メール認証を完了させてください。
            .p-login__regist
              button(@click='loginShow()') 別アカウントでログイン
            //- h3.u-text__center.mt-15.u-hidden--iPhoneSE メールが届きませんか？
            p
              | メールが受信できない場合、お客様のスマートフォンにて迷惑メール対策設定が行われている可能性がございます。
              br.u-hidden--iPhoneSE
              br.u-hidden--iPhoneSE
              | 以下の設定方法をご確認頂き、「real-connect.jp」からメールを受信出来るように設定をお願い致します。
            ul.p-login__list
              li
                a(href='https://www.nttdocomo.co.jp/info/spam_mail/domain/' target='_blank') NTTドコモをお使いの方
              li
                a(href='https://www.au.com/support/service/mobile/trouble/mail/email/filter/detail/domain/' target='_blank') auをお使いの方
              li
                a(href='https://www.softbank.jp/mobile/support/mail/antispam/email-i/white/' target='_blank') ソフトバンクをお使いの方
            .p-login__regist
              button(@click='resendConfirmationMail()') 認証メールを再送信する
