.p-account {
  position: relative;
  color: $truewhite;

  &__title {
    @include flex(ce,fs,false);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1em;
    @include gradbg(rgba($charcoal,.5),transparent,top);

    input[type='file'] {
      display: none;
    }
  }
}
