$basePadding: 10px 30px;
@mixin modalContent($border:false,$basePadding:$basePadding) {
  padding: $basePadding;
  position: relative;
  @include clearfix;

  @if $border != false {
    border-#{$border}: 1px solid rgba($grey,.1);
  }

  &--middle {
    padding: 10px 15px;
    border: none;
  }

  &--fluid {
    padding: 0;
    border: none;
  }
}

.p-card {
  width: 100%;
  max-width: 460px;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgba($trueblack,.3);
  overflow: hidden;

  &--middle {
    max-width: 640px;
  }

  &__round-button {
    font-size: 12px;
    border: none;
    @include flex(ce,ce);
    color: $truewhite;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: $cs03;
    position: absolute;
    top: calc( 50% - 15px );
    right: 10px;
    font-weight: bold;
    font-family: $Mplus;

    @include hover {
      box-shadow: 0 2px 4px rgba($trueblack,.1);
      background: adjust-hue($cs02Lt,-5deg);
    };
  }

  &__header {
    @include modalContent(bottom);

    &.has-round-button {
      padding-right: 50px;
    }
  }

  &__body {
    $basePadding: 20px 30px;
    @include modalContent('',$basePadding);
  }

  &__footer {
    @include modalContent(top);
  }
}
