.p-editor-content {
  &.ql-container {
    font-family: inherit;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: 500;
  }

  h4, h5, h6 {
    @include opacity(.7);
  }

  p {
    font-size: 12px;
    @include opacity(.7);

    &.mail-preview {
      font-size: 16px;
      @include opacity(1);
      color: $grey;
    }
  }

  ul {
    list-style: disc;
    margin-left: 1.5em;
  }

  ol {
    list-style: decimal;
    margin-left: 1.5em;
  }
}
