.p-event-list {
  $this: &;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba($grey,.1);

  &__info-container {
    @include flex(ce,ce,false);
    justify-content: flex-start;
    position: relative;
  }

  &__badge {
    font-size: 12px;
    position: absolute;
    top: -8px;
    left: -8px;
    padding: .1em .4em;
    z-index: 0;
  }

  &__info {
    padding: 0 1em;
    font-size: 12px;
  }

  &__name {
    font-size: 1.2em;
    font-weight: bold;
    @include ellipsis;
    text-align: left;
    max-width: 100%;
    display: block;
  }

  &__organizer-place, &__organizer-user, &__period {
    @include flex(ce,fs,false);

    img {
      width: 16px;
      height: 16px;
      margin-right: 0.4em;
    }

    span {
      padding-top: 1px;
    }

    &-right {
      margin-left: 1em;
    }
  }

  &__detail {
    @include flex(ce,fe);
    width: 100%;

    & > * {
      width: 100%;
      @include flex(ce,ce);
    }

    // @include flex(ce,ce,false);
    // @include flex(st,ce);

    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-wrap: nowrap;
  }

  &__gender-rate {
    // @include flex(ce,fe);
  }

  &__label {
    border: 1px solid rgba($grey,.2);
    font-size: 12px;
    border-radius: 1.5em;
    padding: .2em 1em;
    margin-right: .5em;

    @include ltSM {
      padding: .4em 1em;
    };

    @include ltXXS {
      font-size: 10px;
      padding: .4em .8em;
    };
  }

  &__rate-container {
    font-size: 24px;
    color: $grey;

    small {
      font-size: 50%;
    }
  }

  &__rate {
    &:first-child {
      color: $male;
    }
    &:last-child {
      color: $female;
    }
  }

  &__check-in-status {
    font-size: 14px;
    @include opacity(.5);
    line-height: 1.4em;
    @include flex(ce,ce,false);

    #{$this}.is-checked-in & {
      @include opacity(1);
      color: $mainLt;
    }

    #{$this}.is-enabled & {
      @include opacity(.8);
    }

    i {
      margin-right: .5em;
    }

    span {
      @include ellipsis;
    }
  }

  &__remain {
    font-size: 12px;
    @include opacity(.5);
    max-width: 100%;
    @include flex(ce,ce,false);
    white-space: nowrap;

    i {
      margin-right: .5em;
    }

    span {
      @include ellipsis;
    }
  }

  &__button-container {
    @include flex(ce,ce,false);
    margin-top: 1em;
  }

  &__plase-change {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    border: 2px solid rgba($grey,0.2);
    padding: 7px 15px;
    border-radius: 1.5em;
    width: 100%;
    @include flex(ce,ce);
    margin-right: 1em;
    transition: .15s all ease-in-out;
    background: rgba($truewhite,.1);

    @include hover {
      border-color: $accent;
    };

    & > .glyph {
      margin-right: .5em;
      color: rgba($grey,.5);
      font-size: 20px;
      position: absolute;
      top: 50%;
      line-height: 0;
      left: 10px;
    }

    & > span {
      color: $accent;
      font-weight: bold;
    }

    &.is-current {
      border-color: $accent;

      & > .glyph {
        color: $accent;
      }

      & > span {
        color: $grey;
      }
    }
  }

  &__button {
    width: 100%;
    padding: 9px 17px;
    font-weight: bold;
    border-radius: 2em;
    border: 1px solid transparent;
    background: $accent;
    color: $truewhite;
    @include flex(ce,sb,false);

    &::after {
      content: '';
      display: block;
      width: 6px;
      min-width: 6px;
      height: 6px;
      border-top: 2px solid $truewhite;
      border-right: 2px solid $truewhite;
      transform: rotate(45deg);
      @include opacity(.5);
      margin-left: auto;
    }

    & > span {
      @include flex(ce,ce);
      width: calc(100% - 10px);
      margin-right: 5px;

      em {
        @include ellipsis;
        max-width: calc(100% - 10.5em);
      }
    }
  }
}
