.p-event-data {
  width: 100%;
  // table-layout: fixed;

  tr {
    @include ltXS {
      display: block;
      border: 1px solid rgba($grey, 0.2);
      padding: 0.5em 1em;
      margin-bottom: 1em;
      border-radius: 4px;
    }
    &.clickable {
      cursor: pointer;
    }
  }

  th,
  td {
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid rgba($grey, 0.2);
    padding-right: 0.5em;

    @include ltXS {
      display: block;
      // border-bottom: none;
      line-height: 1.2;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      padding-top: 0.5em;
      padding-bottom: 0.8em;

      &:first-child {
        margin-top: 0;
        padding-top: 0;
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }

  th {
    font-size: 10px;
    font-weight: bold;
    color: $grey;
  }

  td {
    font-size: 12px;
  }

  thead {
    @include ltXS {
      display: none;
    }

    th,
    td {
      border-bottom-width: 2px;
    }
  }

  &__button {
    button {
      &:first-child {
        margin-right: 0.5em;
      }
    }
  }

  // Data sell
  @mixin widthFix($width) {
    width: $width;
    max-width: $width;
    min-width: $width;
  }

  @include gtSM {
    td {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    &__id {
      @include widthFix(10%);
    }
    &__name {
      @include widthFix(20%);
    }
    &__capacity {
      @include widthFix(10%);
    }
    &__organizer_type {
      @include widthFix(10%);
    }
    &__start_time {
      @include widthFix(14%);
    }
    &__end_time {
      @include widthFix(14%);
    }
  }

  @include ltXS {
    &__label {
      &::before {
        display: block;
        @include opacity(0.5);
        font-weight: bold;
        margin-bottom: 0.5em;
      }
    }
    &__id::before {
      content: "イベントID";
    }
    &__name::before {
      content: "イベント名";
    }
    &__capacity::before {
      content: "募集人数";
    }
    &__organizer_type::before {
      content: "主催者種別";
    }
    &__start_time::before {
      content: "開始時間";
    }
    &__end_time::before {
      content: "終了時間";
    }
  }
}
