.p-image-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1030;
  color: $truewhite;

  &:not(.is-visible) {
    display: none;
  }

  &__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1030;
    // overflow: scroll;
    @include scroll;
    @include flex(ce,ce);
    background: rgba($trueblack,.8);

    &.is-scaled {
      @include flex(fs,fs);
    }

    img {
      display: block;
      width: auto;
      max-width: 100%;
      height: auto;

      // &.is-origin {
      //   width: auto;
      //   height: auto;
      //   max-width: none;
      //   max-height: none;
      // }
    }

    &.is-scaled {
      img {
        width: auto;
        height: auto;
        max-width: none;
        max-height: none;
      }
    }
  }

  &__controller {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
    height: 45px;
    z-index: 1031;
    background: rgba($trueblack,.5);
    font-size: 20px;
    @include flex(ce);
  }

  &__back {
    font-size: inherit;
    width: 40px;
    height: 40px;
    @include flex(ce,ce);
    background: transparent;
    border: none;
    font-weight: bold;
    color: inherit;
  }
}
