.p-image-select {
  height: calc( 100vh - 20em );
  @include scroll;
  display: none;

  &__item {
    $item: &;
    width: 48%;
    height: 7em;
    margin: 4px 1%;
    cursor: pointer;
    position: relative;
    float: left;

    @include ltSM {
      margin: 2px 1%;
    };

    @include glyph-before('\F017',1,transparent) {
      font-size: 20px;
      text-align: right;
      padding: .5em;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 2px solid $cs02Lt;
      @include opacity(0);
    };

    &.is-selected {
      box-shadow: 0 0 0 2px $cs02Lt;

      &::before {
        @include opacity(1);
        color: $truewhite;
      }
    }

    @include hover {
      box-shadow: 0 0 0 2px $cs02Lt;

      &::before {
        @include opacity(1);
      }
    };

    img {
      width: 100%;
      height: 100%;
      display: block;
      @include object-fit;
    }

    &--round {
      @extend #{$item};
      width: calc( 100% / 4 - 1em );
      height: auto;
      margin: .5em;
      border-radius: 50%;
      overflow: hidden;
      background: $truewhite;

      &::before {
        content: '●';
        border-radius: 50%;
        padding: .3em;
        z-index: 11;
      }

      &.is-selected::before {
        color: $cs02Lt;
      }

      @include ltXXS {
        width: calc( 100% / 4 - 3vw );
        margin: 1.5vw;

        &::before {
          padding: 2px;
        }
      };

      &::after {
        content: '';
        display: block;
        padding-top: 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 10;
        @include object-fit;
      }
    }
  }

  &__item-label {
    background: rgba($cs02Lt,.2);
    cursor: pointer;
    @include flex(ce,ce);
    color: $cs02Lt;

    i {
      @include fs(30);
      @include ease;
    }

    @include hover {
      i {
        transform: scale(1.2);
      }
    };
  }

  &__upload {
    position: absolute;
    @include opacity(0);
  }
}
