.p-pagenavi {
  $size: 3em;
  font-size: 12px;
  @include flex(ce,fe);
  letter-spacing: 0;
  margin: 2em 0 !important;

  @include ltXS {
    @include flex(ce,ce);
    font-size: 10px;
  };

  &__page {
    min-width: $size;
    height: $size;
    line-height: $size;
    padding: 0;
    text-align: center;
    cursor: pointer;
    @include ease;
    border-radius: 50%;

    @include hover {
      background: rgba($grey,.1);
    };

    &.is-current {
      background: $accent;
      color: $truewhite;
    }
  }

  &__extend {
    height: $size;
    line-height: $size;
    padding: 0;
    text-align: center;
  }
}
