.p-place-list {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba($grey,.1);
  position: relative;

  &__badge {
    font-size: 12px;
    position: absolute;
    padding: .1em .4em;
    right: 0;
    z-index: 0;
  }

  &__title {
    width: 100%;
    font-size: 14px;
    @include flex(ce,sb,false);
  }

  &__shop {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc( 100% - 40px );

    i {
      position: relative;
      top: -2px;
      margin-right: 6px;
      color: $mainLt;
      transform: scale(1.2);
    }
  }

  &__cover {
    cursor: pointer;
  }

  &__address {
    @include flex(ce,fs,false);
    line-height: 1.2;
    padding: 0.5em;
    padding-top: 1em;
    font-size: 12px;
    & > a {
      margin-left: 0.6em;
      em {
        display: inline-block;
      }
    }
  }

  &__container {
    @include flex(ce,fs,false);
    line-height: 1.2;
    padding: 0.5em;
    font-size: 12px;
    justify-content: space-between;
  }

  &__telephone {
    @include flex(ce,fs,false);
    font-size: 12px;

    img {
      width: 16px;
      height: 16px;
      margin-right: 0.4em;
    }

    em {
      display: inline-block;
    }
  }
}
