.p-profile {
  height: calc( 100vh - 20em - 8vw );
  max-height: 14em;
  @include scroll;
  padding-top: 10px;

  &__textarea {
    display: block;
    width: 100%;
    font-size: 14px;
    border-bottom: 2px solid rgba($grey,.2);
    min-height: 4.5em;

    &--l {
      min-height: 6em;
    }

    &:focus {
      border-bottom-color: $mainLt;
    }
  }

  &__select {
    border: 1px solid rgba($grey,.2);
  }

  &__input {
    display: block;
    width: 100%;
    font-size: 14px;
    border-bottom: 2px solid rgba($grey,.2) !important;

    &:focus {
      border-bottom-color: $mainLt !important;
    }
  }

  &__situation {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba($grey,.1);
  }

  &__situation-item {
    @include flex(ce,ce,false);

    i {
      display: block;
      @include opacity(.5);
      margin-right: .5em;
      font-size: 120%;
    }

    span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__table {
    width: 100%;
    font-size: 12px;
    line-height: 1.4em;

    i {
      @include opacity(.5);
      margin-right: .5em;

      &:not(.glyph) {
        font-weight: bold;
      }
    }

    th,td {
      padding: .5em 0;
    }

    th {
      width: 30%;
      font-weight: 700;
      @include opacity(.6);
      text-align: left;
      padding-right: 1em;
      vertical-align: middle;
    }

    td {
      width: 70%;
      vertical-align: middle;

      img {
        margin-bottom: 3px;
        vertical-align: middle;
      }
    }
  }

  &__address {
    @include flex(ce,fs,false);
    line-height: 1.2;
    padding-top: .2em;

    em {
      display: inline-block;
    }
  }

  input[type="date"] {
    display: block;
    margin-bottom: .5em;
  }
}

.p-profile__footer {
  .u-bg--warn {
    background-color: #e63475 !important;
  }
}

@for $i from 0 through 9 {
  [data-eventcount='#{$i}'] .u-text .p-profile__table {
    margin-bottom: #{68*$i+60}px;

    @include gtLG {
      margin-bottom: #{75*$i+60}px
    };
  }
}
