.p-username {
  padding: 0 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  line-height: 1.2em;

  &__small {
    display: block;
    font-size: 70%;
  }
}
