extend /_tpl/foundation/_base-app

append required
  - const pageTitle = '店舗・会場管理'
  - const userType = 'admin'

block content

  .l-pane-container.l-block-behind
    router-view(
      :user-data='userData'
      :events='events'
      :handle-request-error='handleRequestError'
    )

  // ↓ Block
  .l-block-container
    include /_tpl/layout/block/menu/_admin
  // ↑ Block

  // ↓ Sidebar
  include /_tpl/layout/pc-menu/_admin
  // ↑ Sidebar
