header(role="banner").l-header.l-header--app.u-mode-bg

  block header

  .l-header__body.u-flex--ce-sb--gtSM.u-flex--ce-ce--inXS

    h1.c-logo
      a.c-logo__body(href="/")
        i.glyph.glyph-brand-logo.c-logo__symbol
        span.c-logo__text.cft Real-Connect Admin
      span.c-logo__tag-line Connecting People with People.
      p.c-logo__badge 会場・店舗管理者

    section.p-header-app
      header.p-account.p-header-app__header
        .p-header-app__trigger
          i.glyph.glyph-chevron-down
        .p-account__title.p-header-app__title(v-if='userData.selectedPlace')
          figure.p-avatar.p-avatar--rect.p-header-app__avatar
            img(:src="userData.selectedPlace.logo_image")
          h2.p-username.p-header-app__username {{ userData.selectedPlace.name }}
        figure.p-cover.p-header-app__cover(v-if='userData.selectedPlace')
          img(:src="userData.selectedPlace.cover_image")
      .p-header-app__body.u-mode-bg--light
        .p-header-app__content(v-if='userData.selectedPlace')
          .p-header-app__label 現在の空席状況
          .p-header-app__toggle-container.u-bg--primary
            .p-header-app__toggle(@click='requestUpdateOwnPlace({seat_status: "open"})' :class='{"is-active":userData.selectedPlace.seat_status === "open"}') あり
            .p-header-app__toggle(@click='requestUpdateOwnPlace({seat_status: "few"})' :class='{"is-active":userData.selectedPlace.seat_status === "few"}') 空少
            .p-header-app__toggle(@click='requestUpdateOwnPlace({seat_status: "full"})' :class='{"is-active":userData.selectedPlace.seat_status === "full"}') 満席
        .p-header-app__button-area
          router-link(data-menu='account' to='/admin/profile' class='p-header-app__button')
              i.glyph.glyph-account
              | 店舗・会場情報
          .p-header-app__button(@click='requestLogout()')
            i.glyph.glyph-sign-out-alt
            | ログアウト
