.l-main {
  min-height: 50vh;
  position: relative;
  background: inherit;

  &--shift-to-bottom {
    @include gtMD {
      padding-top: $headerH;
    };
  }

  @include screen-height {
    height: 100%;
  }
}
