article#load-status.p-load-status(:class='{"is-hidden":loadCompletedAnimate}' v-if='prossessData.show')
  button.p-load-status__hidden-close-button(@click='prossessData.show=false') Close
  button.p-load-status__logout(@click='logoutUser()')
    i.glyph.glyph-sign-out-alt

  .p-load-status__wrap(:class='{"is-visible":prossessData.item.length>1}')
    header.p-load-status__header.u-text__center
      h2.u-flex--ce-ce
        i.glyph.glyph-brand-logo.p-load-status__logo
        span.cft Real-Connect

    //- talkDataCreate はイベントごとのトーク一覧とユーザー一覧から
    //- 表示用のトークデータの作成をする前と、作成中、完了のステータスを管理
    //- 'waiting', 'starting', 'finished' のステータス名
    section.p-load-status__counter(:class='{"is-visible":prossessData.item.length}')
      //- メール認証が完了していない場合
      .u-text(v-if='userData.is_confirmed==false')
        p
          span(v-if='userData.nickname') ようこそ {{userData.nickname}}さん！
          span(v-else) ようこそ ユーザーID:{{userData.id}}さん！
        p.u-text__left
          | あなたはまだメール認証が完了出来ていない様です。りあこねからのEメールを確認いただき、メール認証を完了させてください。
        button(@click='resendConfirmationMail()') 認証メールを再送信する
        button(@click='logoutUser()') 別のアカウントでログイン
        br
      .u-text(v-else) ようこそ {{userData.nickname}}さん！


      p.u-ellipsis(v-if='userData.is_confirmed==true') プロセス完了数 : {{successCount}} / {{prossessData.item.length}}
      p(v-if='userData.is_confirmed==true') プロセス進行率 : {{progressRateAnimated}}%
      p(v-if='userData.is_confirmed==true'): br
      .p-load-status__completed-message(v-if='loadCompletedAnimate==true')
        span
          i.glyph.glyph-preset03.glyph-spin
          | リソースの経路を構成しています
      .p-load-status__progress(v-else)
        .p-progress-bar.p-progress-bar--transparent
          .p-progress-bar-mirror(:style='{width: progressRateAnimated+"%"}')
      //- hr
      //- p progressRateAnimated {{progressRateAnimated}}%
      //- p talkCompletedCount {{talkCompletedCount}}
      //- p userCompletedCount {{userCompletedCount}}
      //- p completedCount {{completedCount}}
      //- p allEventCount {{allEventCount}}
      //- p talkDataCreate {{talkDataCreate}}
      //- p loadCompleted {{loadCompleted}}
      //- p loadCompletedAnimate {{loadCompletedAnimate}}

      .p-load-status__error-notice(v-if='errorCount>0')
        span {{errorCount}}個のエラーが見つかりました。
        .p-load-status__button-container
          button.dismiss(@click='logoutUser()')
            i.glyph.glyph-sign-out-alt
            | ログアウト
          button.reload(@click='reload()')
            i.glyph.glyph-preset03
            | 再読込
          button.retry(@click='retryCatchErr()')
            i.glyph.glyph-cart-right
            | 再試行

    section.p-load-status__container(:class='{"is-visible":prossessData.item.length,"is-full":statusLog}' v-if='userData.is_confirmed==true')

      i.p-load-status__log-toggle-icon.glyph.glyph-spin_.animated.bounceIn(v-if='loadCompletedAnimate&&statusLog==false&&prossessData.show') 

      .p-load-status__inner
        .p-load-status__item(v-for='(item, index) in prossessData.item.slice().reverse()' :class='{"is-completed":item.completed}')
          h1.p-load-status__tab-trigger(@click='toggleAccordion("status-"+index+"")')
            i.p-load-status__icon.starting.glyph.glyph-spin(v-if='!item.completed&&!item.error') 
            i.p-load-status__icon.failed.glyph.animated.bounceIn(v-if='item.error') 
            i.p-load-status__icon.completed.glyph.animated.bounceIn(v-if='item.completed') 
            |  {{item.content}}
          accordion(:opened='isOpenedAccordion("status-"+index+"")')
            p.detail
              | prossess_id: {{item.id}} {{item.title}}
              br
              | load_status: 
              small.failed(v-if='item.error') Failed
              small.success(v-else-if='item.completed') Success
              small(v-else) Prossessing
            //- p.log(v-if='item.error')
            p.log
              span(v-if='item.log') {{item.log}}
            .p-load-status__button-container
              button.dismiss(@click='prossessData.show=false')
                i.glyph.glyph-plus-circle
                | Dismiss
              button.reload(v-if='item.error' @click='reload()')
                i.glyph.glyph-preset03
                | Reload
              button.retry(@click='retry(item.id)')
                i.glyph.glyph-cart-right
                | Retry

    .p-load-status__log-toggle
      p(v-if='loadCompletedAnimate&&statusLog==false') All processes are complete.
      button(@click='statusLog=true' v-if='statusLog==false&&loadCompletedAnimate!=true') VIEW ALL PROSESS
      button(@click='statusLog=false' v-else-if='statusLog==true&&loadCompletedAnimate!=true') CLOSE COMPLETE PROSESS
