include /_tpl/foundation/_variables

doctype html
html( lang=pageLang )
  head

    include /_tpl/object/_head

  body#pagetop( class=bodyClass data-root-url='/' )

    include /_tpl/layout/_main

    include /_tpl/object/_script
