article#pane3.l-pane.is-pushed
  header.l-pane__header.p-pane-control.u-mode-bg--ltSM(v-if='talkroomLoad')
    .p-pane-control__button( data-pane='2' @click='currentPartnerRefresh()' )
      i.glyph ＜
    .p-pane-control__heading
      .p-load-text
        .p-load-text__item.p-load-text__item--1
        .p-load-text__item.p-load-text__item--2
        .p-load-text__item.p-load-text__item--3
  header.l-pane__header.p-pane-control.u-mode-bg--ltSM.ios-fixed-focus(v-else)
    .p-pane-control__button( data-pane='2' @click='currentPartnerRefresh()')
      i.glyph ＜
    .p-pane-control__heading
      span.p-pane-control__title {{currentPartner.nickname}}
      span.p-pane-control__notice(v-if='currentPartner.data')
        span.u-hidden--iPhoneSE(v-if='currentPartner.data.past==false') あと
        | {{currentPartner.data.remain}}
    .p-pane-control__button( data-block='user-profile' )
      i.glyph.glyph-account
    .p-pane-control__button( data-block='menu' )
      i.glyph ︙
  section.l-pane__body
    .p-talkroom-load(v-if='talkroomErr') {{talkroomErr}}
    .p-talkroom-load(v-if='talkroomLoad')
      .p-spinner
        .p-spinner__item
        .p-spinner__item.p-spinner__item--2
    .p-scrollable--talk(@scroll='talkRoomPaging(currentPartnerID)' :class='{"is-loaded":talkroomPageLoad==false,"is-focus":messageFocus}' :data-height='messageBrCount')
      // ↓ BEGIN Talk-Room Content
      ul.p-chat(:class='{"is-loading":talkroomPageLoad}')
        li.p-chat__firstComment.is-loading(v-if='talkroomPageLoad')
          .p-load-text
            .p-load-text__item.p-load-text__item--1
            .p-load-text__item.p-load-text__item--2
            .p-load-text__item.p-load-text__item--3

        li.p-chat__firstComment(v-else) メッセージを送ってみよう！
        talkroom(:talkroomchild='talkroom' :key='item.id' @modaluserdatail-child='modalUserDatail(item.sender_id)' v-bind='item' v-for='item in talkroom.slice().reverse()' track-by='item.id' :class='{"is-send":item.direction == "to","is-received":item.direction == "from","is-blank":item.blank}')
      // ↑ END Talk-Room Content

    transition(name='v-sending' v-if='sending')
      .p-sending-loader
        .p-progress-bar.p-progress-bar--xs
    .p-pane-message(@click='scrollDown()' v-if='currentPartner.data' :class='{"is-focus":messageFocus}')
      textarea#autoHeightInput.p-pane-message__textarea(name="name" rows="8" cols="200" v-model='send_message'  v-if='currentPartner.data.past==false' :data-height='messageBrCount' @focus='textareaFocus()' @blur='textareaBlur()')
      input#messageSend(type="submit" name="" value="➤" @click='messageSend()' v-if='currentPartner.data.past==false')
      .p-pane-message__past-notice(v-if='currentPartner.data.past==true' @click='showToast("閲覧のみ","このイベントは終了しているため、メッセージの送信はできません","3000")')
        i.glyph.glyph-exclamation-circle
        span メッセージの送信はできません
