article#pane1.l-pane.is-visible
  header.l-pane__header.p-pane-control.u-mode-bg--ltSM
    .p-pane-control__heading
      span.p-pane-control__logo.cft Real-Connect
    .p-pane-control__button( data-block='user-profile' )
      i.glyph.glyph-account
    .p-pane-control__button( data-block='menu' )
      i.glyph ︙
    .p-pane-area-detail
      template(v-if='areaDetailPrefectureName') {{areaDetailPrefectureName}}&nbsp;{{areaDetailAreaName}}&nbsp;&nbsp;男女比&nbsp;{{areaDetailMaleCount}}名：{{areaDetailFemaleCount}}名
      template(v-else) エリアが選択されていません
    // ↓ BEGIN Tab Trigger
    .p-pane-tab(:class='currentId1')
      .p-pane-tab__item.u-uppercase(v-for='(item, index) in pane1' @click='changeTab1(item.id)' :class='{"is-active":active1(item.id)}' :currentId1child='currentId1' :data-tab='item.id') {{item.label}}
      .append.append--2
    .p-place-detail-title(:class='{"is-visible":currentId1==pane1[2].id}')
      .p-place-detail-title__button(@click='changeTab1("place")')
        i.glyph ＜
      .p-place-detail-title__body {{placeDetail.name}}
    // ↑ END Tab Trigger
  section.l-pane__body.is-visible-tab
    .p-pane-target-container

      .p-pane-target(:id='pane1[0].id' :class='{"is-visible":currentId1==pane1[0].id}')
        // ↓ BEGIN Tab Target Content
        placelist(:placelistchild='placelist' :key='"place-" + item.id' v-bind='item' v-for='item in placelist' @childs-event='placeDetailActive(item.id)' @modaladmindatail-child='modalAdminDatail(item.id)')

        section.p-pane-notice(v-if='userData.area_id==null')
          p 登録エリアが未設定です。
          p
            | メニューからエリアを選択して下さい。
            br
            | なお、エリア情報の変更やエリアの削除によって、以前エリアを登録したにも関わらず本メッセージが表示される場合があります。

        .p-debug.p-debug--localhost(v-if='isLocalhost')
          p ▼ ▼ ▼ ※デバッグ用
          p "localhost"の時のみ表示されます
          //- button(@click='talkListUpdate(data.event_id)')
          button(@click='defaultData()') defaultData()
          p ▲ ▲ ▲ ※デバッグ用


        // ↑ END Tab Target Content

      .p-pane-target(:id='pane1[1].id' :class='{"is-visible":currentId1==pane1[1].id}')
        // ↓ BEGIN Tab Target Content
        .c-label 現在開催中のイベント
        noweventlist(:noweventlistchild='noweventlist' :key='"nowevent-" + item.id' @talk-list-update-child='talkListUpdate(item.id)' v-bind='item' v-for='(item, index) in noweventlist.slice().reverse()')
        .p-no-result(v-if='noweventlist.length==0') 現在開催中のイベントはありません。

        .c-label 過去に参加したイベント
        pasteventlist(:pasteventlistchild='pasteventlist' :key='"pastevent-" + item.id' @talk-list-update-child='talkListUpdate(item.id)' v-bind='item' v-for='(item, index) in alleventlist.slice().reverse()')
        // ↑ END Tab Target Content

      .p-pane-target(:id='pane1[2].id' :class='{"is-visible":currentId1==pane1[2].id}' :data-eventcount='noweventlist.length')
        // ↓ BEGIN Tab Target Content
        include /_tpl/layout/pane/include/_place-detail

        //- .p-bottomfixbutton.is-visible
        .p-bottomfixbutton(:class='{"is-visible":currentId1==pane1[2].id}')
          .p-placedetail__button-container
            //- .input-field
              label.c-checkbox.p-placedetail__chechbox
                input(type='checkbox' name='place' v-model='switchPlace' @change='placeSwitch()' :disabled='placeDetail.id==userData.current_place_id&&switchPlaceID.before==""')
                span.c-checkbox__mirror
                span(v-if='placeDetail.id==userData.current_place_id') この会場からチェックアウト
                span(v-else) この会場にチェックイン
            button.p-placedetail__plase-change(@click='placeIn(placeDetail.id)' :class='{"is-current":placeDetail.id==userData.current_place_id}')
              i.glyph.glyph-check-circle.u-color--secondary.animated.bounceIn(v-if='placeDetail.id==userData.current_place_id')
              i.glyph.glyph-sign-out-alt(v-else)
              span(v-if='placeDetail.id==userData.current_place_id') この会場からチェックアウト
              span(v-else) この会場にチェックイン

            .p-bottomfixbutton__item(v-if='placeDetail.id==userData.current_place_id')
              button.p-placedetail__button.u-bg--secondary(@click='setPlaceTalk(placeDetail.id)')
                span イベントの詳細を表示
        // ↑ END Tab Target Content
