article#pane2.l-pane.is-pushed
  header.l-pane__header.p-pane-control.u-mode-bg--ltSM
    .p-pane-control__button( data-pane='1' )
      i.glyph ＜
    .p-pane-control__heading(v-if='!isPlaceTalkroom && currentEvent.start_time')
      //- span.p-pane-control__title(v-if='currentEvent.name') {{currentEvent.name}}
      span.p-pane-control__title {{currentEvent.start_time|format_date_label}}
      span.p-pane-control__notice(v-if='currentEvent.remain')
        span.u-hidden--iPhoneSE(v-if='currentEvent.past==false') あと
        | {{currentEvent.remain}}
    .p-pane-control__heading(v-else)
      span.p-pane-control__title Event not selected
    .p-pane-control__button( data-block='user-profile' )
      i.glyph.glyph-account
    .p-pane-control__button( data-block='menu' )
      i.glyph ︙
    // ↓ BEGIN Tab Trigger
    .p-pane-tab(:class='currentId2')
      .p-pane-tab__item.u-uppercase(v-for='item in pane2' @click='changeTab2(item.id)' :class='{"is-active":active2(item.id)}') {{item.label}}
      .append.append--3
    // ↑ END Tab Trigger
  section.l-pane__body.is-visible-tab
    .p-pane-target-container
      .p-talk-place-select
        span.c-badge.p-talk-place-select__badge.u-bg--secondary.animated.bounceIn(v-if='behind_unread>0') {{behind_unread}}
        label.c-select
          select.c-select__item.p-check-in__place(v-model='currentPlaceID' :disabled='placeSelectDisabled')
            option(value='' selected) すべての会場
            option(:value='item.id' v-for='item in placelist') {{item.current_unread_badge}}{{item.name}}

      .p-pane-target.is-visible-select(v-for='item in pane2' :id='item.id' :class='{"is-visible":active2(item.id)}')
        section.p-pane-notice(v-if='currentEvent.past')
          p 閲覧のみ
          p このイベントは終了しているため、メッセージの送信はできません
          .p-pane-notice__remain 閲覧時間 {{currentEvent.rem_view}}
        TalkList(:talklistchild='talklist' :key='"talk-" + index + "-" + item.user_id' @filtertalk-child='filterTalk(item.user_id,false,true,item.id)' @modaluserdatail-child='modalUserDatail(item.user_id)' v-bind='item' v-for='(item, index) in talklist.slice().reverse()' :class='item.partner.gender')

        section.p-talk-list.p-talk-list--notice.all(:class='{"is-visible":noResultTalk.all}') 見つかりませんでした。
        section.p-talk-list.p-talk-list--notice.male(:class='{"is-visible":noResultTalk.male}') 男性は見つかりませんでした。
        section.p-talk-list.p-talk-list--notice.female(:class='{"is-visible":noResultTalk.female}') 女性は見つかりませんでした。
