nav.p-pc-menu
  header.p-pc-menu__header
    h2.p-pc-menu__title MAIN MENU
    button.p-pc-menu__button
      i.glyph.glyph-bars
  .p-pc-menu__body(v-if='userData.selectedPlace')
    .p-account.p-pc-menu-account
      .p-account__title.p-pc-menu-account__title
        figure.p-avatar.p-avatar--rect.p-pc-menu-account__avatar
          img(:src="userData.selectedPlace.logo_image")
        .input-field(v-if="userData.own_places.length > 1")
          label.c-select
            select.c-select__item(v-model="userData.selectedPlace.id" @change="requestFetchPlace()")
              option(v-for="place of userData.own_places" :value="place.id" :key="place.id + place.name") {{place.name}}
        h2.p-username.p-menu-account__username(v-else-if="userData.own_places.length === 1") {{ userData.selectedPlace.name }}

      .p-pc-menu-account__detail
        .p-pc-menu-account__label 現在の空席状況
        .p-pc-menu-account__toggle-container.u-bg--primary
          .p-pc-menu-account__toggle(@click='requestUpdateOwnPlace({seat_status: "open"})' :class='{"is-active":userData.selectedPlace.seat_status === "open"}') あり
          .p-pc-menu-account__toggle(@click='requestUpdateOwnPlace({seat_status: "few"})' :class='{"is-active":userData.selectedPlace.seat_status === "few"}') 空少
          .p-pc-menu-account__toggle(@click='requestUpdateOwnPlace({seat_status: "full"})' :class='{"is-active":userData.selectedPlace.seat_status === "full"}') 満席
    //- .p-pc-menu-code(v-if='userData.selectedPlace')
      .p-pc-menu-code__label 現在のチェックインコード
      div(v-for="event in events")
        a.p-pc-menu-code__code(v-bind:href="'/admin/code/?check_in_code=' + event.check_in_code" target='_blank')
          span {{ event.check_in_code }}
    h3.p-pc-menu__subtitle
      span.p-pc-menu__badge 各種設定
    ul.p-pc-menu__list
      router-link.p-pc-menu__item(to='/admin' data-menu='back')
        i.glyph.glyph-dashboard
        | イベント情報
      router-link.p-pc-menu__item(to='/admin/profile' data-menu='admin-profile')
        i.glyph.glyph-map-marker-alt
        | 店舗・会場情報
      router-link.p-pc-menu__item(to='/admin/account' data-menu='account')
        i.glyph.glyph-gear
        | 登録情報の変更
      //- li.p-pc-menu__item( data-menu='setting' )
        i.glyph.glyph-tool
        | アプリ設定
    h3.p-pc-menu__subtitle
      span.p-pc-menu__badge 利用にあたって
    ul.p-pc-menu__list
      //- li.p-pc-menu__item( data-menu='info' )
        i.glyph.glyph-bell
        | お知らせ
      router-link.p-pc-menu__item(to='/admin/terms' data-menu='terms')
        i.glyph.glyph-id-badge
        | 利用規約
      router-link.p-pc-menu__item(to='/admin/privacy' data-menu='privacy')
        i.glyph.glyph-secure
        | 個人情報保護方針
      //- li.p-pc-menu__item( data-menu='help' )
        i.glyph.glyph-question-circle
        | ヘルプ
      //- li.p-pc-menu__item( data-menu='feedback' )
        i.glyph.glyph-bug
        | 問題を報告
    //- h3.p-pc-menu__subtitle
      span.p-pc-menu__badge アプリケーション情報
    //- ul.p-pc-menu__list
      li.p-pc-menu__item( data-menu='version' )
        i.glyph.glyph-version
        | バージョン情報
      li.p-pc-menu__item( data-menu='license' )
        i.glyph.glyph-ribbon
        | ライセンス情報
