nav.p-pc-menu
  header.p-pc-menu__header
    h2.p-pc-menu__title MAIN MENU
    button.p-pc-menu__button
      i.glyph.glyph-bars
  .p-pc-menu__body
    ul.p-pc-menu__list
      router-link(to="/system_admin")
        li.p-pc-menu__item( data-menu='back' )
          | システム管理TOP
      router-link(to="/system_admin/event_statuses")
        li.p-pc-menu__item( data-menu='back' )
          | イベントステータス
