
この度はりあこね新規エリアご登録ありがとうございます。
お申込いただきましたエリアの作成・反映が完了いたしました。
\
申請頂いたエリアより新規店舗登録申請が可能になりました。
合わせてご登録頂きますよう宜しくお願い致します。
\
\
今後とも末永くよろしくお願い申し上げます。
\
\-----------------------------------------------------------------
株式会社リアルコネクト
〒810-0041
福岡市中央区大名2丁目4-38-718

TEL092-516-0240（代表）FAX092-516-0240
\-----------------------------------------------------------------
