@font-face {
  font-family: "glyphs";
  src: url('../fonts/glyph/glyphs.eot');
  src: url('../fonts/glyph/glyphs.eot?#iefix') format('eot'),
    url('../fonts/glyph/glyphs.woff2') format('woff2'),
    url('../fonts/glyph/glyphs.woff') format('woff'),
    url('../fonts/glyph/glyphs.ttf') format('truetype'),
    url('../fonts/glyph/glyphs.svg#glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}

.glyph {
  font-family: "glyphs";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  vertical-align: middle;
}

// ----------------------------------------
// Icon Sizes
// ----------------------------------------

// makes the font 33% larger relative to the icon container

.glyph-lg {
  font-size: 1.1em;
  line-height: (3em / 4);
  vertical-align: -.0667em;
}

.glyph-xs {
  font-size: .75em;
}

.glyph-sm {
  font-size: .875em;
}

@for $i from 1 through 10 {
  .glyph-#{$i}x {
    font-size: $i * 1em;
  }
}

// ----------------------------------------
// Fixed Width Icons
// ----------------------------------------
.glyph-fw {
  text-align: center;
  width: (20em / 16);
}

// ----------------------------------------
// Animated Icons
// ----------------------------------------

.glyph-spin {
  animation: fa-spin 2s infinite linear;
}

.glyph-pulse {
  animation: fa-spin 1s infinite steps(8);
}

@for $i from 2 through 20 {
  .glyph-pulse-#{$i} {
    animation: fa-spin 1s infinite steps(#{$i});
  }
}
@for $i from 1 through 20 {
  .glyph-spin-#{$i} {
    animation: fa-spin #{8/$i}s infinite linear;
  }
}
@for $i from 1 through 20 {
  .glyph-speed-#{$i} {
    animation-duration: #{8/$i}s;
  }
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.glyph-gear::before { content: "\2699" }
.glyph-preset02::before { content: "\E002" }
.glyph-preset03::before { content: "\E003" }
.glyph-external::before { content: "\2197" }
.glyph-rightwards::before { content: "\27A1" }
.glyph-black-rightwards-arrowhead::before { content: "\27A4" }
.glyph-brand-logo::before { content: "\F000" }
.glyph-alarm-clock-round::before { content: "\F001" }
.glyph-secure::before { content: "\F002" }
.glyph-fashion::before { content: "\F003" }
.glyph-envelope::before { content: "\F004" }
.glyph-lock::before { content: "\F005" }
.glyph-account::before { content: "\F006" }
.glyph-bell::before { content: "\F007" }
.glyph-id-badge::before { content: "\F008" }
.glyph-question-circle::before { content: "\F009" }
.glyph-home::before { content: "\F00A" }
.glyph-bug::before { content: "\F00B" }
.glyph-version::before { content: "\F00C" }
.glyph-bullhorn::before { content: "\F00D" }
.glyph-ribbon::before { content: "\F00E" }
.glyph-plus-circle::before { content: "\F00F" }
.glyph-bars::before { content: "\F010" }
.glyph-facebook::before { content: "\F011" }
.glyph-line::before { content: "\F012" }
.glyph-twitter::before { content: "\F013" }
.glyph-chevron-down::before { content: "\F014" }
.glyph-sign-out-alt::before { content: "\F015" }
.glyph-check::before { content: "\F016" }
.glyph-check-circle::before { content: "\F017" }
.glyph-sign-in-alt::before { content: "\F018" }
.glyph-female::before { content: "\F019" }
.glyph-male::before { content: "\F01A" }
.glyph-map-marker::before { content: "\F01B" }
.glyph-exclamation-circle::before { content: "\F01C" }
.glyph-ban::before { content: "\F01D" }
.glyph-map-marker-alt::before { content: "\F01E" }
.glyph-map-pin::before { content: "\F01F" }
.glyph-map-marked-alt::before { content: "\F020" }
.glyph-pen::before { content: "\F021" }
.glyph-camera::before { content: "\F022" }
.glyph-desktop::before { content: "\F023" }
.glyph-mobile-alt::before { content: "\F024" }
.glyph-dashboard::before { content: "\F025" }
.glyph-users::before { content: "\F026" }
.glyph-tool::before { content: "\F027" }
.glyph-greater-than::before { content: "\F028" }
.glyph-cart-right::before { content: "\F029" }
.glyph-rate-equall::before { content: "\F02A" }
.glyph-rate-female::before { content: "\F02B" }
.glyph-rate-male::before { content: "\F02C" }
.glyph-ellipsis::before { content: "\FE19" }
.glyph-less-than::before { content: "\FF1C" }
