.u-text {
  word-break: break-all;

  & > * {
    margin: 15px auto;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: 600 !important;
  }

  p {
    font-size: 12px;
  }

  ul {
    font-size: 12px;
    list-style: disc;
    margin-left: 1.5em;

    li {
      line-height: 1.2;
      margin: .5em 0;
    }
  }

  code {
    background: rgba($grey,.1);
    color: #c06;
    display: inline-block;
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 4px;
    font-size: 90%;
    font-weight: 700;
  }

  button {
    display: inline-block;
    font-family: inherit;
    background: $cs02Lt;
    border: none;
    color: $truewhite;
    font-size: 14px;
    font-weight: 500;
    padding: 0 20px;
    border-radius: 14px;
    line-height: 2;

    @include hover {
      box-shadow: 0 2px 4px rgba($trueblack,.1);
      background: adjust-hue($cs02Lt,-5deg);
    };
  }

  &__left {
    text-align: left;
  }

  &__center {
    text-align: center;
  }

  &__right {
    text-align: right;
  }
}
