.v--modal-overlay {
    background-color: rgba(27,29,33,0.97) !important;
}

.v--modal-box {
    top: 130px !important;
    left: 380px !important;
    width: 700px !important;
    height: 600px !important;
    border-radius: 2em !important;
}

.shopList:hover {
    opacity: 0.8;
}
