.c-pagetop-button {
  display: block;
  width: 3.6em;
  height: 3.6em;
  position: fixed;
  bottom: 1em;
  right: -5em;
  text-align: center;
  color: rgba($cs02,.8);
  border-radius: 50%;
  transition-duration: .3s;
  z-index: 1050;

  @include ltSM {
    @include gradbg($cs02,$cs03);
    color: $truewhite;
  };

  @include hover {
    background: $accent;
    color: $truewhite;
  };

  &.is-active {
    right: 1em;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-top: 1.4em;
    border-left: 2px solid;
    border-top: 2px solid;
    transform: rotate(45deg);
  }
}
